/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-adult {
  background-image: url(../img/sprite.png);
  background-position: -33px -153px;
  width: 33px;
  height: 33px;
}
.icon-animal {
  background-image: url(../img/sprite.png);
  background-position: -122px -60px;
  width: 37px;
  height: 35px;
}
.icon-arrow-grey {
  background-image: url(../img/sprite.png);
  background-position: -159px -60px;
  width: 9px;
  height: 16px;
}
.icon-arrow-r {
  background-image: url(../img/sprite.png);
  background-position: -223px -149px;
  width: 6px;
  height: 8px;
}
.icon-bell {
  background-image: url(../img/sprite.png);
  background-position: -159px -114px;
  width: 11px;
  height: 12px;
}
.icon-buy-bicycle {
  background-image: url(../img/sprite.png);
  background-position: -122px 0px;
  width: 48px;
  height: 28px;
}
.icon-buy-bone {
  background-image: url(../img/sprite.png);
  background-position: -170px -35px;
  width: 35px;
  height: 35px;
}
.icon-buy-comb {
  background-image: url(../img/sprite.png);
  background-position: -170px 0px;
  width: 35px;
  height: 35px;
}
.icon-buy-easel {
  background-image: url(../img/sprite.png);
  background-position: -205px -38px;
  width: 26px;
  height: 38px;
}
.icon-buy-home {
  background-image: url(../img/sprite.png);
  background-position: -109px -114px;
  width: 36px;
  height: 31px;
}
.icon-buy-pram {
  background-image: url(../img/sprite.png);
  background-position: -79px -36px;
  width: 39px;
  height: 38px;
}
.icon-buy-search {
  background-image: url(../img/sprite.png);
  background-position: -122px -95px;
  width: 16px;
  height: 16px;
}
.icon-buy-stand {
  background-image: url(../img/sprite.png);
  background-position: -66px -153px;
  width: 32px;
  height: 31px;
}
.icon-buy-tv {
  background-image: url(../img/sprite.png);
  background-position: -122px -28px;
  width: 41px;
  height: 32px;
}
.icon-child {
  background-image: url(../img/sprite.png);
  background-position: -33px -114px;
  width: 37px;
  height: 34px;
}
.icon-clock {
  background-image: url(../img/sprite.png);
  background-position: -168px -153px;
  width: 11px;
  height: 11px;
}
.icon-clock2 {
  background-image: url(../img/sprite.png);
  background-position: -154px -95px;
  width: 13px;
  height: 13px;
}
.icon-close-lit {
  background-image: url(../img/sprite.png);
  background-position: -74px -105px;
  width: 9px;
  height: 9px;
}
.icon-close {
  background-image: url(../img/sprite.png);
  background-position: -56px -187px;
  width: 28px;
  height: 28px;
}
.icon-comment {
  background-image: url(../img/sprite.png);
  background-position: -130px -153px;
  width: 13px;
  height: 13px;
}
.icon-disabled {
  background-image: url(../img/sprite.png);
  background-position: -170px -103px;
  width: 31px;
  height: 37px;
}
.icon-down {
  background-image: url(../img/sprite.png);
  background-position: -170px -140px;
  width: 18px;
  height: 11px;
}
.icon-empty {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 79px;
  height: 77px;
}
.icon-eye {
  background-image: url(../img/sprite.png);
  background-position: -188px -140px;
  width: 14px;
  height: 11px;
}
.icon-f {
  background-image: url(../img/sprite.png);
  background-position: -205px -76px;
  width: 21px;
  height: 40px;
}
.icon-filter {
  background-image: url(../img/sprite.png);
  background-position: -98px -153px;
  width: 32px;
  height: 27px;
}
.icon-header_plus-white {
  background-image: url(../img/sprite.png);
  background-position: -215px -177px;
  width: 10px;
  height: 10px;
}
.icon-header_plus {
  background-image: url(../img/sprite.png);
  background-position: -205px -177px;
  width: 10px;
  height: 10px;
}
.icon-header_search-white {
  background-image: url(../img/sprite.png);
  background-position: -158px -131px;
  width: 12px;
  height: 11px;
}
.icon-header_search {
  background-image: url(../img/sprite.png);
  background-position: -156px -153px;
  width: 12px;
  height: 11px;
}
.icon-heart-big {
  background-image: url(../img/sprite.png);
  background-position: -138px -95px;
  width: 16px;
  height: 14px;
}
.icon-heart-empty {
  background-image: url(../img/sprite.png);
  background-position: -205px -116px;
  width: 26px;
  height: 22px;
}
.icon-heart {
  background-image: url(../img/sprite.png);
  background-position: -143px -153px;
  width: 13px;
  height: 12px;
}
.icon-help {
  background-image: url(../img/sprite.png);
  background-position: -170px -70px;
  width: 35px;
  height: 33px;
}
.icon-map {
  background-image: url(../img/sprite.png);
  background-position: -159px -76px;
  width: 11px;
  height: 13px;
}
.icon-marker {
  background-image: url(../img/sprite.png);
  background-position: -223px -138px;
  width: 8px;
  height: 11px;
}
.icon-ok {
  background-image: url(../img/sprite.png);
  background-position: -205px 0px;
  width: 26px;
  height: 38px;
}
.icon-orphan {
  background-image: url(../img/sprite.png);
  background-position: 0px -114px;
  width: 33px;
  height: 39px;
}
.icon-pen {
  background-image: url(../img/sprite.png);
  background-position: -205px -138px;
  width: 18px;
  height: 22px;
}
.icon-pencil {
  background-image: url(../img/sprite.png);
  background-position: -145px -131px;
  width: 13px;
  height: 13px;
}
.icon-plus-add {
  background-image: url(../img/sprite.png);
  background-position: 0px -77px;
  width: 37px;
  height: 37px;
}
.icon-quotes-left {
  background-image: url(../img/sprite.png);
  background-position: 0px -187px;
  width: 28px;
  height: 28px;
}
.icon-quotes-right {
  background-image: url(../img/sprite.png);
  background-position: -28px -187px;
  width: 28px;
  height: 28px;
}
.icon-refresh {
  background-image: url(../img/sprite.png);
  background-position: -205px -160px;
  width: 18px;
  height: 17px;
}
.icon-religion {
  background-image: url(../img/sprite.png);
  background-position: -37px -77px;
  width: 37px;
  height: 37px;
}
.icon-shield {
  background-image: url(../img/sprite.png);
  background-position: -145px -114px;
  width: 14px;
  height: 17px;
}
.icon-tape {
  background-image: url(../img/sprite.png);
  background-position: 0px -153px;
  width: 33px;
  height: 34px;
}
.icon-twitt {
  background-image: url(../img/sprite.png);
  background-position: -70px -114px;
  width: 39px;
  height: 32px;
}
.icon-video {
  background-image: url(../img/sprite.png);
  background-position: -79px 0px;
  width: 43px;
  height: 36px;
}
.icon-view-more {
  background-image: url(../img/sprite.png);
  background-position: -179px -153px;
  width: 10px;
  height: 10px;
}
.icon-vk {
  background-image: url(../img/sprite.png);
  background-position: -74px -77px;
  width: 48px;
  height: 28px;
}
