.images img {margin: 0 !important;}
.popup.popup-mobile {width: 100%; left: 0; margin-left: 0;}
.product { 
	&-body {

		display: flex; justify-content: space-between;
		padding-top: 29px; margin-bottom: 64px;
		@include respond-to(sm) {
			flex-direction: column;
		}

		& > header, & > section {
			width: 50%;
			@include respond-to(sm) {width: 100%;}
		}
		header {
			padding-top: 29px;

			#galery_wrapp {
				&:after {
					content: '';
					display: table;
					width: 100%;
					clear: both;
				}
			}

			figure {
				text-align: center;
				width: 100%; margin-bottom: 53px;
				@include respond-to(sm) {
					display: none;
				}
				&:first-child {display: block;}
				&:last-child {margin-bottom: 0;}

				img {max-width: 100%;}

				&.thumb_img {
					margin-bottom: 0; width: auto; float: left;
				}
			}
		}

		& > section {
			padding-left: 28px;
			@include respond-to(lg) {width: 49%;}
			@include respond-to(md){padding-left: 15px;}
			@include respond-to(sm){padding: 0; width: 100%;}

			h2 {
				@include font-type($CormacEL, 34px, 38px, 0);
				margin-bottom: 31px;
			}

			ul.info {
				display: flex;
				margin-bottom: 32px;
				@include respond-to(md) {flex-direction: column;}
				li {
					display: flex; align-items: center;
					@include font-type($HelveticaL, 10px, 1, 1px); color: #79879e; text-transform: uppercase;
					margin-right: 25px;
					@include respond-to(md) {
						margin-right: 0; margin-bottom: 15px;
					}
					&:last-child {
						margin-right: 0;
						@include respond-to(md) {margin-bottom: 0;}
					}
					i {font-size: 16px; margin-right: 3px;}
				}
			}

			ul.price {
				display: flex; align-items: center;
				margin-bottom: 43px;
				li {
					@include font-type($CormacB, 34px, 1, 0.5px); color: $link-color;
					margin-right: 28px;
					@include respond-to(sm) {
						color: #000; font-family: $CormacEL;
					}
					i {
						color: #c6dbff; font-size: 26px;
						margin-right: 12px;
					}
				}
			}

			.btn-company {
				margin-bottom: 26px; 
				@include respond-to(sm) {
					display: inline-block; width: 100%; padding: 0 15px;
					border: 1px solid #edf3f6; border-radius: 5px;
				}
				.btn-reserve {
					display: flex; flex-flow: row nowrap; align-items: center; min-height: 100px;
					padding: 0 30px; margin: 10px 0;
					background: white; border-radius: 40px;
					line-height: 1; position: relative;
					@include respond-to(sm){
						background: transparent; box-shadow: none;

					}
					&:last-child {
						@include respond-to(xs) {
							border-left: none; border-top: 2px solid #edf3f6; border-radius: 0; 
						}
					} 
					a {
						@include respond-to(sm) {color: #000; font-family:$HelveticaL; letter-spacing: 0.5px;}
					}
					.icon-wr {
						text-align: center;
						position: absolute; display: inline-block; width: 28px; height: 28px; padding-top: 6px;
						background: $btn-color; border-radius: 50%; top: -5px; right: -1px;
						@include respond-to(sm){display: none;}
						i {color: #000;}
					}
					figure {
						margin-right: 36px;
						@include respond-to(md){margin-right: 10px;}
						img {max-height: 60px;}
						&.circle {
							border-radius: 50%; background-size: cover; width: 60px; height: 60px;
						}
					}
					section {
						small {
							@include font-type($HelveticaL, 10px, 1, 1px); color: #79879e; text-transform: uppercase;
							display: block; margin-bottom: 8px;
						}
						
					}
					
				}
			}

			.btn-gr {
				margin-bottom: 19px; padding: 24px 0; clear: both; outline: none;
				border-top: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2;
				.btn {
					@include font-type($CormacEL, 16px, 1, 0.2px); outline: none;
					width: 218px; padding: 20px 0; margin-right: 57px;
					@include respond-to(md) {
						width: 100%; margin-bottom: 25px;
					}
				}
				a {
					@include font-type($CormacEL, 16px, 1, 0.2px);
					@include respond-to(md) {width: 100%; text-align: center; display: block;}
					i {font-weight: 600; font-size: 20px; margin-right: 5px;}
				}
			}

			p {
				@include font-type($HelveticaR, 16px, 24px, 0.3px);
				width: 90%;
				.thin {font-family: $HelveticaL;}
			}
		}

	}
}