<!DOCTYPE html>
<html>

//= ./ui/head.html

<body data-user="user@gmail.com">
	
	//= ./ui/counter.html

	<!-- Application -->
	<div class="app">
		//= ./ui/header.html

		<section class="wr-login">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">

						<!-- Login Form -->
						<div class="popup-login">
							<h2>Вход</h2>
							<ul>
								<li>
									<form action="#">
										<input name="email" type="text" placeholder="E-mail">
										<input name="password" type="password" placeholder="Пароль">
										<a href="#">Напомнить пароль</a>
										<ul>
											<li><a href="#" class="link">Зарегистрироваться</a></li>
											<li><a href="#" class="btn js-login">Войти</a></li>
										</ul>
									</form>
								</li>
								<li class="sep"></li>
								<li>
									<a href="#" class="social"><i class="fa fa-vk"></i>В контакте</a>
									<a href="#" class="social"><i class="fa fa-facebook"></i>Facebook</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</section>

		<!-- New Post -->
		<section class="wr-new_post">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<!-- New Post -->
						<div class="new_post">
							<form action="#">
								<h1>Разместить объявление</h1>
								
								<div class="new_post-project">
									<a href="#" class="js-projectListToggle">Благотворительный фонд или проект<i></i></a>
									<span>Организация, или человек, в пользу которого будут направлены средства от продажи товара</span>
									
									<div class="new_post-dropdown js-projectList">
										<ul>
											<li>
												<h3>Направления</h3>
												<ul>
													<li>
														<input id="direction-all" type="radio" name="direction">
														<label for="direction-all">Все направления</label>
													</li>
													<li>
														<input id="direction-1" type="radio" name="direction">
														<label for="direction-1">Культура и искусство <span>i</span></label>
													</li>
													<li>
														<input id="direction-2" type="radio" name="direction">
														<label for="direction-2">Наука <span>i</span></label>
													</li>
													<li>
														<input id="direction-3" type="radio" name="direction">
														<label for="direction-3">Образование <span>i</span></label>
													</li>
													<li>
														<input id="direction-4" type="radio" name="direction">
														<label for="direction-4">Охрана природы <span>i</span></label>
													</li>
													<li>
														<input id="direction-5" type="radio" name="direction">
														<label for="direction-5">Спорт <span>i</span></label>
													</li>
													<li>
														<input id="direction-6" type="radio" name="direction">
														<label for="direction-6">Поддержка СМИ <span>i</span></label>
													</li>
												</ul>
											</li>
											<li>
												<h3>Фонды</h3>
												<ul>
													<li>
														<input id="fonds-all" type="radio" name="fonds">
														<label for="fonds-all">Все фонды</label>
													</li>
													<li>
														<h5>А</h5>
														<ul>
															<li>
																<input id="fonds-1" type="radio" name="fonds">
																<label for="fonds-1">Алинин Фонд Здоровья <span>i</span></label>
															</li>
															<li>
																<input id="fonds-2" type="radio" name="fonds">
																<label for="fonds-2">Арго-фонд поддержки <span>i</span></label>
															</li>
															<li>
																<input id="fonds-3" type="radio" name="fonds">
																<label for="fonds-3">Абсолютисты юные <span>i</span></label>
															</li>
															<li>
																<input id="fonds-4" type="radio" name="fonds">
																<label for="fonds-4">Алинин Фонд Здоровья <span>i</span></label>
															</li>
															<li>
																<input id="fonds-5" type="radio" name="fonds">
																<label for="fonds-5">Августовский жук <span>i</span></label>
															</li>
															<li>
																<input id="fonds-6" type="radio" name="fonds">
																<label for="fonds-6">Артемон и товарищи <span>i</span></label>
															</li>
														</ul>
													</li>
													<li>
														<h5>А</h5>
														<ul>
															<li>
																<input id="fond-1" type="radio" name="fonds">
																<label for="fond-1">Алинин Фонд Здоровья <span>i</span></label>
															</li>
															<li>
																<input id="fond-2" type="radio" name="fonds">
																<label for="fond-2">Арго-фонд поддержки <span>i</span></label>
															</li>
															<li>
																<input id="fond-3" type="radio" name="fonds">
																<label for="fond-3">Абсолютисты юные <span>i</span></label>
															</li>
															<li>
																<input id="fond-4" type="radio" name="fonds">
																<label for="fond-4">Алинин Фонд Здоровья <span>i</span></label>
															</li>
															<li>
																<input id="fond-5" type="radio" name="fonds">
																<label for="fond-5">Августовский жук <span>i</span></label>
															</li>
															<li>
																<input id="fond-6" type="radio" name="fonds">
																<label for="fond-6">Артемон и товарищи <span>i</span></label>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<h3>Проекты</h3>
												<ul>
													<li>
														<input id="projects-all" type="radio" name="projects">
														<label for="projects-all">Все проекты</label>
													</li>
													<li>
														<h5>А</h5>
														<ul>
															<li>
																<input id="projects-1" type="radio" name="projects">
																<label for="projects-1">Аршин и Васюра <span>i</span></label>
															</li>
															<li>
																<input id="projects-2" type="radio" name="projects">
																<label for="projects-2">Апекс криволинейный <span>i</span></label>
															</li>
															<li>
																<input id="projects-3" type="radio" name="projects">
																<label for="projects-3">Астрал веселья <span>i</span></label>
															</li>
														</ul>
													</li>
													<li>
														<h5>Б</h5>
														<ul>
															<li>
																<input id="projects-4" type="radio" name="projects">
																<label for="projects-4">Балтийское общество поддержки <span>i</span></label>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
										<ul class="action js-projectListAction">
											<li><a href="#">Отмена</a></li>
											<li><a href="#" class="btn">Ок</a></li>
										</ul>
									</div>
								</div>
								<div class="new_post-participants js-hide">
									<input id="participants" type="checkbox" disabled>
									<label for="participants">Выбрать конкретного участника проекта</label>
									<div class="new_post-participants-wrapper js-participants">
										
										<div class="carousel carousel-kids">
											<div class="carousel-wrap owl-carousel">
												<div class="carousel-item">
													<input name="participant" id="participant-1" type="radio" value="1">
													<label for="participant-1">
														<div class="ava">
															<figure>
																<img src="assets/img/participant-1.png">
															</figure>
															<span></span>
														</div>
														<p>Лаура Анна-Мария Гонзалес</p>
													</label>
												</div>
												<div class="carousel-item">
													<input name="participant" id="participant-2" type="radio" value="2">
													<label for="participant-2">
														<div class="ava">
															<figure>
																<img src="assets/img/participant-2.png">
															</figure>
															<span></span>
														</div>
														<p>Василиса Космодемьянаская</p>
													</label>
												</div>
												<div class="carousel-item">
													<input name="participant" id="participant-3" type="radio" value="3">
													<label for="participant-3">
														<div class="ava">
															<figure>
																<img src="assets/img/participant-3.png">
															</figure>
															<span></span>
														</div>
														<p>Федор Палмер</p>
													</label>
												</div>
												<div class="carousel-item">
													<input name="participant" id="participant-4" type="radio" value="4">
													<label for="participant-4">
														<div class="ava">
															<figure>
																<img src="assets/img/participant-4.png">
															</figure>
															<span></span>
														</div>
														<p>Николай Лихтенштейн</p>
													</label>
												</div>
												<div class="carousel-item">
													<input name="participant" id="participant-5" type="radio" value="1">
													<label for="participant-5">
														<div class="ava">
															<figure>
																<img src="assets/img/participant-1.png">
															</figure>
															<span></span>
														</div>
														<p>Лаура Анна-Мария Гонзалес</p>
													</label>
												</div>
												<div class="carousel-item">
													<input name="participant" id="participant-6" type="radio" value="2">
													<label for="participant-6">
														<div class="ava">
															<figure>
																<img src="assets/img/participant-2.png">
															</figure>
															<span></span>
														</div>
														<p>Василиса Космодемьянаская</p>
													</label>
												</div>
												<div class="carousel-item">
													<input name="participant" id="participant-7" type="radio" value="3">
													<label for="participant-7">
														<div class="ava">
															<figure>
																<img src="assets/img/participant-3.png">
															</figure>
															<span></span>
														</div>
														<p>Федор Палмер</p>
													</label>
												</div>
												<div class="carousel-item">
													<input name="participant" id="participant-8" type="radio" value="4">
													<label for="participant-8">
														<div class="ava">
															<figure>
																<img src="assets/img/participant-4.png">
															</figure>
															<span></span>
														</div>
														<p>Николай Лихтенштейн</p>
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="new_post-product js-dropzone">
									<div class="address">
										<ul>
											<li>
												<input type="text" placeholder="Город">
												<label>Город местоположения товара</label>
											</li>
											<li>
												<input type="text" placeholder="Метро">
												<label>Ближайшее метро</label>
											</li>
										</ul>
									</div>
									<div class="wrapper">
										<div class="select">
											<a href="#" class="js-selectToogle">Категория товара<i></i></a>
											<div class="js-selectLists">
												<ul>
													<li><a href="#">Личные вещи</a></li>
													<li><a href="#">Электроника</a></li>
													<li><a href="#">Спорт</a></li>
													<li><a href="#">Дом и дача</a></li>
													<li><a href="#">Детям</a></li>
													<li><a href="#">Бизнесу</a></li>
												</ul>
											</div>
										</div>
										<div class="info">
											<ul>
												<li>
													<input type="text" placeholder="Название">
													<label>Полное название, модель и пр.</label>
												</li>
												<li>
													<input type="text" placeholder="Цена">
												</li>
											</ul>
											<textarea placeholder="Описание"></textarea>
										</div>
										<div class="photos">
											<div class="preview">
												<span>Фотографии</span>
												<div class="images"></div>
											</div>
											<h4>Фотографии</h4>
											<p>Перетащите сюда фотографии, <br> или нажмите <a href="#">загрузить</a></p>
										</div>
									</div>
									<a href="#" class="add_item"><img src="assets/img/add-item.png"> добавить еще один товар</a>
								</div>
								<div class="new_post-contacts">
									<h3>Контакты</h3>
									<input type="text" value="Вася Раушенберг">
									<ul>
										<li>
											<input type="text" value="+7 (240) 320-32-32">
											<label>Телефон для связи</label>
										</li>
										<li>
											<input type="text" value="vasya@raush.com">
											<label>E-mail для связи</label>
										</li>
									</ul>
								</div>
								<ul class="new_post-confirm">
									<li>
										<input id="confirm" type="checkbox">
										<label for="confirm">Я согласен с условиями публичной оферты</label>
									</li>
									<li>
										<button class="js-confirm" disabled>Опубликовать обьявление</button>
									</li>
								</ul>
							</form>

						</div>

					</div>
				</div>
			</div>
		</section>
		
		//= ./ui/partners.html
		//= ./ui/footer.html
		</div>

		<!-- Scripts -->
		//= ./ui/scripts.html
	</body>
</html>