<!-- !!!СТИЛИ К ЭЛЕМЕНТАМ ЭТОЙ СТРАНИЦИ ЛЕЖАТ В ПАПКЕ tpl НА УРОВЕНТ ВЫШЕ (там же где и views)!!! -->
<!DOCTYPE html>
<html>
	//= ./ui/head.html
	<body class="on-load">
		//= ./ui/counter.html
		//= ./popup/popup.html
		<!-- Application -->
		<div class="app market">
			//= ./ui/header.html

			<!-- Filter -->
			<section class="wr bg-dark">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="filter-catalog">
								<ul class="filter-catalog-category">
									<li>
										<input type="checkbox" id="private-ads">
										<label for="private-ads">Частные объявления</label>
									</li>

									<li>
										<input type="checkbox" id="from-shop">
										<label for="from-shop">От магазинов</label>
									</li>
									<li>
										<input type="checkbox" id="auction">
										<label for="auction">Аукционы</label>
									</li>
									<li>
										<input type="checkbox" id="stars">
										<label for="stars">От звезд</label>
									</li>
								</ul>

								<div class="select-catalog">
									<a href="#" class="js-selectToogle">В москве<i></i></a>
									<div class="js-selectLists">
										<ul>
											<li><a href="#">Личные вещи</a></li>
											<li><a href="#">Электроника</a></li>
											<li><a href="#">Спорт</a></li>
											<li><a href="#">Дом и дача</a></li>
											<li><a href="#">Детям</a></li>
											<li><a href="#">Бизнесу</a></li>
										</ul>
									</div>
								</div>

								 <button class="reset">Сбросить все параметры</button>

							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="wr base border-b">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="filter-catalog">
								<form class="filter-catalog-search">
									<input type="search" placeholder="Найти вещь">
									<button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i> Искать</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="wr base border-b">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="filter-catalog">
								<div class="filter-catalog-range">
									<div>
										<div class="select-catalog">
											<a href="#" class="js-selectToogle">В москве<i></i></a>
											<div class="js-selectLists">
												<ul>
													<li><a href="#">Личные вещи</a></li>
													<li><a href="#">Электроника</a></li>
													<li><a href="#">Спорт</a></li>
													<li><a href="#">Дом и дача</a></li>
													<li><a href="#">Детям</a></li>
													<li><a href="#">Бизнесу</a></li>
												</ul>
											</div>
										</div>

										<div class="select-catalog">
											<a href="#" class="js-selectToogle">В москве<i></i></a>
											<div class="js-selectLists">
												<ul>
													<li><a href="#">Личные вещи</a></li>
													<li><a href="#">Электроника</a></li>
													<li><a href="#">Спорт</a></li>
													<li><a href="#">Дом и дача</a></li>
													<li><a href="#">Детям</a></li>
													<li><a href="#">Бизнесу</a></li>
												</ul>
											</div>
										</div>

										<div class="select-catalog">
											<a href="#" class="js-selectToogle">В москве<i></i></a>
											<div class="js-selectLists">
												<ul>
													<li><a href="#">Личные вещи</a></li>
													<li><a href="#">Электроника</a></li>
													<li><a href="#">Спорт</a></li>
													<li><a href="#">Дом и дача</a></li>
													<li><a href="#">Детям</a></li>
													<li><a href="#">Бизнесу</a></li>
												</ul>
											</div>
										</div>

										<div class="select-catalog">
											<a href="#" class="js-selectToogle">В москве<i></i></a>
											<div class="js-selectLists">
												<ul>
													<li><a href="#">Личные вещи</a></li>
													<li><a href="#">Электроника</a></li>
													<li><a href="#">Спорт</a></li>
													<li><a href="#">Дом и дача</a></li>
													<li><a href="#">Детям</a></li>
													<li><a href="#">Бизнесу</a></li>
												</ul>
											</div>
										</div>
									</div>

									<div class="range">
										<input type="range" min="100" max="100 000" step="100" value="30 000">
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="wr base">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="filter-catalog">
								<div class="select-catalog">
									<a href="#" class="js-selectToogle">В москве<i></i></a>
									<div class="js-selectLists">
										<ul>
											<li><a href="#">Личные вещи</a></li>
											<li><a href="#">Электроника</a></li>
											<li><a href="#">Спорт</a></li>
											<li><a href="#">Дом и дача</a></li>
											<li><a href="#">Детям</a></li>
											<li><a href="#">Бизнесу</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<!-- Catalog -->
			<section class="wr bg-grey">
				<div class="container">
					<div class="row">
						<div class="col-md-12">

							<ul class="list-catalog-products">
								<li>
									//= ./../tpl/product-preview.html
								</li>
								<li>
									//= ./../tpl/product-preview.html
								</li>
								<li>
									//= ./../tpl/product-preview.html
								</li>
								<li>
									//= ./../tpl/product-preview.html
								</li>
								<li>
									//= ./../tpl/product-preview.html
								</li>
								<li>
									//= ./../tpl/product-preview.html
								</li>
								<li>
									//= ./../tpl/product-preview.html
								</li>
								<li>
									//= ./../tpl/product-preview.html
								</li>
								<li>
									//= ./../tpl/product-preview.html
								</li>
							</ul>

							<a href="#" class="show_more">
								<span>Показать еще</span>
								<em><i class="icon icon-view-more"></i></em>
							</a>

						</div>
					</div>
				</div>
			</section>

			<!--//= ./ui/partners.html-->
			//= ./ui/footer.html
		</div>

		<!-- Scripts -->
		//= ./ui/scripts.html
	</body>
</html>