<!DOCTYPE html>
<html>
	//= ./ui/head.html
	<body class="on-load">
		//= ./ui/counter.html
		<section class="popup-main">

			<div class="popup-main_body">
				<a href="#" class="close js-close_popup">
					<i class="icon icon-close"></i>
				</a>
				<div class="popup-main_top">
					<img src="../../web/img/product-logo.png" alt="">
				</div>
				
				<h3>Контакты</h3>
				  <p>Управляющий Сервисный центр<br>
					г. Москва, ул. Большая Новодмитровская д. 36 стр. 1,<br>
					1 вход, 4 этаж. "Дизайн завод Flacon"<br>  
					http://servicenb.ru<br>
					Тел.: +7 800 775-29-44 (Звонок по России бесплатный)<br>
					Тел.: +7 495 984-06-02</p>
			</div>

		</section>

		<!-- Application -->
		<div class="app product">
		//= ./ui/header.html
		//= ./ui/breadcrumbs.html
		
		<section class="wr bg_white">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
						
						<article class="product-body">
							<header class="images">
								<figure>
									<img src="../../web/img/iteamshop.png" alt="">
								</figure>

								<figure>
									<img src="../../web/img/itenshop1.png" alt="">
								</figure>
								<figure>
									<img src="../../web/img/itemshop2.png" alt="">
								</figure>
							</header>

							<section>

								<h2>Cмартфон Irbis SP57</h2>

								<ul class="info">
									<li><i class="icon icon-clock2"></i>3 часа назад</li>
									<li><i class="icon icon-map"></i> м. Кропоткинская</li>
									<li><i class="icon icon-eye"></i> Увидели 12 человек</li>
								</ul>

								<ul class="price">
									<li>6 200 <span class="rub">a</span></li> 
									<li><i class="fa fa-heart" aria-hidden="true"></i>15%</li>
								</ul>
								
								<ul class="btn-company">
									<li class="btn-reserve">
										<figure>
											<img src="../../web/img/irbis.png" alt="">
										</figure>
										
										<section>
											<small>продавец</small>
											<a href="#">Irbis Digital</a>
										</section>
										<span class="icon-wr"><i class="icon icon-comment"></i></span>
									</li>
									
									<li class="btn-reserve">
										<figure>
											<img src="../../web/img/leuk.png" alt="">
										</figure>

										<section>
											<small>ПОЛУЧАТЕЛЬ Платежа</small>
											<a href="#">Фонд борьбы с лейкемией</a>
										</section>
										<a href="#" class="icon-wr js-poPup"><i class="icon icon-pencil" ></i></a>
									</li>
									
								</ul>

								<div class="btn-gr">
									<button id="js-registration" class="btn shadow">Забронировать</button>
									<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> В избранное</a>
								</div>

								<p>Стильный <span class="thin">4G</span> смартфон <span class="thin">Irbis SP57</span> оснащен процессором от компании <span class="thin">Mediatek</span>, одного из мировых лидеров в производстве радиоэлектроники. <span class="thin">"Soft touch"</span> покрытие дарит приятные тактильные ощущения, а большой <span class="thin">HD IPS</span> дисплей вкупе с мощной батареей на <span class="thin">4000</span>мАч, обеспечивает долгую и стабильную работу устройства. Модель обладает полным набором современных беспроводных интерфейсов, а также богатыми мультимедийными возможностями. Устройство работает под управлением ОС <span class="thin">Android 6.0.</span></p>
								
								
							</section>
						</article>	

						</div>
					</div>
				</div>
			</section>
			
		//= ./ui/footer.html
		</div>

		<!-- Scripts -->
		//= ./ui/scripts.html
	</body>
</html>