//INTRO LANDING - http://prntscr.com/gi7mni
.intro {
	height: auto; width: 100%; max-width: 1920px; padding: 22% 0 15% 0; margin: 0 auto; position: relative;
	background-size: contain;
	&.one-bg {background: url(../img/girl-head.png) no-repeat right center #4489ff;}
	&.two-bg {background: url(../img/mixer-head.png) no-repeat center center #4489ff;}
	
	hgroup {
		width: 365px; margin-left: 10%;
		@include respond-to(xs) {width: 270px;}

		h1, h2 {
			@include font-type($CormacEL, 44px !important, 54px, -0.4px); color: #fff; text-align: left !important;
			@include respond-to(sm) {font-size: 32px !important; line-height: 38px;}
		}
		h1 {
			margin-bottom: 40px;
			@include respond-to(xs) {margin-bottom: 30px;}
		}

	}

	figure {
		text-align: center;
		width: 280px; margin: 0 auto;

		img {
			@include respond-to(md) {width: 50%; margin: 0 auto; display: inline-block;}
			@include respond-to(sm) {width: 30%;}
			@include respond-to(xs) {width: 20%;}
		}

		figcaption {
			@include font-type($CormacEL, 34px, 40px, 0.2px); color: #fff;
			margin-top: 20px;

			@include respond-to(sm) {font-size: 22px; line-height: 26px; margin-top: 15px;}
			@include respond-to(xs) {font-size: 14px; line-height: 18px; margin-top: 5px;}
		}
	}
}


a.down {
	display: block; position: absolute; left: 50%; margin-left: -15px; bottom: 35px; width: 18px; height: 11px; z-index: 8;
	@include respond-to(xs) {bottom: 15px;}
	////////////////////////////////////////////////
	////////////////////////////////////////////////
	////////////////////////////////////////////////

	@keyframes toggleSlide {
		0%   {transform: translateY(-3px);}
		25% {transform: translateY(0);}
		50% {transform: translateY(3px);}
		100% {transform: translateY(-3px);}
	}
	animation: toggleSlide .4s ease-out infinite;
	&:hover {transform: translateY(3px) scale(1.1); animation-play-state: paused;}
}

// MENU-LANDING
.header {

	&-land {
		padding: 25px;

		@include respond-to(sm) {padding: 0;}
		
		.menu {
			// TOP MENU – http://prntscr.com/gi6fso
			// GENERAL MENU – 
			&-top {
				a.burger {
					span {background: #ffffff;}
				}

				ul {

					li {
						margin-left: 20px;
						a {
							color: #fff; font-size: 18px;
							padding: 0 15px; height: 44px; line-height: 34px;
							border: 2px solid transparent; border-radius: 50px;
							/*transition: .5s ease-in-out;*/ 
							&:hover {border-color: #fff;}
						}

						&.active {
							a {color: $link-color; background: #fff;}
							color: #ffffff; font-size: 18px; &:hover {cursor: pointer;}
						}

						&.active {
							a {
								border-color: #ffffff;
								&:hover {border-color: #ffffff;}
							}
						}
					}
				}
			}
		}

		.logo {
			display: none;

			&-white {
				@include respond-to(md) {
					z-index: 9995;
				}
			}
		}

		.menu-top {
			margin-top: 0;
			& > ul {
				margin-top: 0; 
				@include respond-to(md) {background: #4489ff;}

				li {
					a {
						position: relative; display: inline-block; &:hover {cursor: pointer;}

						/*&:after {
							content: '';
							position: absolute;
							border-bottom: 2px solid #ffffff;
							top: 100%;
							transition: all 0.4s;
						}
						&:after {left: 50%; right: 50%;}
						&:hover:after {left: 0; right: 0;}*/

						i {
							&.icon-header_search, &.icon-header_plus {display: none;}
						}
					}
				}
			}
		}

		//scroll landing menu
		&.styled {
			height: 70px;
			background: #fff; box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.08);

			.logo {
				display: inline-block; margin-top: 0;
				@include respond-to(sm) {margin-top: 0;}
				&-white {
					display: none;
				}
			}


			.menu-top {

				&:before {
					background: #ffffff;
				}

				a.burger {
					span {background: #4489ff;}
				}

				ul {
					background: #fff;
					&.active {background: #fff;}
					
					li {
						&.active {
							a {color: #fff; background: $link-color;}
							&:hover {cursor: pointer !important; a {border-color: #ffffff;}}

						}
						&:hover {
							a {border-color: #4489ff;}

							a {
								border-bottom-color: #4489ff;
							}
						}
						a {
							color: $link-color; letter-spacing: 0.1px; cursor: pointer !important;

							i {
								&.icon-header_search, &.icon-header_plus {display: inline-block;}
								&.icon-header_search-white, &.icon-header_plus-white {display: none;}
							}

							/*&:after {
								content: '';
								position: absolute;
								border-bottom: 2px solid #4489ff;
								top: 100%;
								transition: all 0.4s;
							}
							&:after {left: 50%; right: 50%;}
							&:hover:after {left: 0; right: 0;}*/
						}
					}
				}
			}
		}

	}
}



.found {
	&-info {
		padding-top: 16px; padding-right: 51px; position: relative; float: right; 

		@include respond-to(md) {
			text-align: center;
		}

		@include respond-to(sm) {text-align: left;}

		h2 {
			margin-bottom: 33px !important; line-height: 42px; text-align: left !important; letter-spacing: 0;
			@include respond-to(md) {
				text-align: center;
				& > br {display: none;}
			}
			@include respond-to(sm) {text-align: left;}
		}

		a {
			font-family: $CormacEL; font-size: 16px;
			i {
				position: relative; left: 7px; top: -1px;
				transition: transform .2s ease;
			}
			&:hover {color: #4489ff;
				i {position: relative; transform: translateX(5px);}
			}
		}
	}
}


//////////////////////////////
//////////////////////////////
//////////////////////////////

.carousel {
	.navigation {display: flex; justify-content: center;}
	.owl-dots {
		display: flex; justify-content: start;
		@include respond-to(md) {justify-content: center;}
	}

	&-testimonials_1,
	&-testimonials_2 {
		.carousel-item {
			display: flex; justify-content: space-around;
			@include respond-to(sm) {flex-direction: column;}
		}

		.navigation {margin-top: 50px !important;}
	}

	&-testimonials_1 {
		figure {
			display: flex;
			@include respond-to(md) {flex-direction: column; justify-content: center; align-items: center;}
		}
	}
}

//////////////////////////////
//////////////////////////////
//////////////////////////////

.carousel {
	.carousel-wrap {}
	.carousel-item {}
	
	// nav + owl styles
	.navigation,
	.owl-dots {
		margin-top: 20px;

		li, 
		.owl-dot {
			width: 19px; height: 8px; margin: 0 5px;
			background: #cdeaf6; border-radius: 10px; cursor: pointer;

			&.active {background: #4489ff; &:hover {cursor: default;}}
		}
	}
	.owl-dots {
		padding-left: 60px;
		@include respond-to(md) {padding-left: 0;}
	}
	
	// modules
	&-found {
		width: 630px; position: relative; left: -19px;
		@include respond-to(md) {width: 100%; padding-top: 40px; clear: both; left: 0;}
		.carousel-item {
			text-align: center;
			@include respond-to(lg) {padding: 20px;}

			figure {
				width: 140px; margin: 0 auto 48px auto;
				border-radius: 50%;

				img {
					width: 140px; height: 140px; overflow: hidden;
				}
				figcaption {
					margin-top: 16px; letter-spacing: 0.2px;
					@include font-type($CormacEL, 16px, 1, 0.4px); font-weight: 200;
				}
			}
		}

		.owl-dots {
			padding-left: 50px;
		}
	}

	&-testimonials_1,
	&-testimonials_2 {
		.carousel-wrap {position: relative;}
		.carousel-item {
			position: absolute; top: 0; left: 0; width: 100%;

			figure {
				figcaption {
					@include font-type($CormacEL, 34px, 43px, 0);
					@include respond-to(sm) {br {display: none;}}

					span {
						@include font-type($CormacEL, 16px, 24px, 0.5px); color: #4b5769;
						width: 180px; color: #4b5769 !important;
						display: block; margin-top: 20px;
						@include respond-to(sm) {width: 100%;}
					}
				}
			}

			section {
				width: 55%;
				@include respond-to(sm) {width: 100%;}
				p {
					font-size: 16px; line-height: 28px; letter-spacing: 1px; color: #4b5769; font-family: $HelveticaL;;
					@include respond-to(sm) {text-align: center; margin: 0 20px;}
				}
			}
		}
	}

	&-testimonials_1 {
		.carousel-wrap {
			min-height: 160px;
			@include respond-to(md) {height: 250px;}
			@include respond-to(sm) {height: 380px;}
			@media (max-width: 620px) {height: 420px;}
			@media (max-width: 540px) {height: 450px;}
			@include respond-to(xs) {height: 500px;}
			@media (max-width: 430px) {height: 545px;}
			@media (max-width: 400px) {height: 595px;}
			@media (max-width: 365px) {height: 695px;}
			@media (max-width: 333px) {height: 790px;}
		}
		.carousel-item {
			justify-content: flex-start; padding-left: 8.5%;
			figure {
				text-align: left;
				@include respond-to(sm) {text-align: center; width: 100%; margin-bottom: 60px;}
				
				img {
					width: 80px; height: 80px; margin-right: 20px; margin-top: 5px;
					@include respond-to(sm) {margin: 0 0 15px 0;}
				}

				figcaption {
					span {
						letter-spacing: 0;
						margin-top: 13px;
					}
				}
			}

			section {
				padding-left: 5.2%; width: 58.8%;
				p {
					line-height: 24px; letter-spacing: 0.8px;
					padding: 11px 50px 0; position: relative;
					
					i {
						content: '';
						display: block; width: 28px; height: 28px; position: absolute;
						&.icon-quotes-left {left: -2px; top: -1px;}
						&.icon-quotes-right {right: 1px; bottom: -16px;}
					}
				}
			}
		}
		.navigation {
			margin-top: 48px !important;
		}
	}

	&-testimonials_2 {
		.carousel-wrap {
			min-height: 200px;
			@include respond-to(lg) {height: 250px;}
			@include respond-to(md) {height: 360px;}
			@include respond-to(sm) {height: 450px;} 
			@media (max-width: 530px) {height: 500px;}
			@include respond-to(xs) {height: 550px;}
			@media (max-width: 430px) {height: 600px;}
			@media (max-width: 390px) {height: 650px;}
			@media (max-width: 330px) {height: 690px;}
		}
		.carousel-item {
			justify-content: flex-start; padding-left: 86px;
			figure { 
				text-align: center; width: 19%;
				@include respond-to(sm) {width: 100%; margin-bottom: 30px;}

				img {
					width: 180px; height: 180px; overflow: hidden;
					border-radius: 50%;
				}
			}
			section {
				width: 69.7%; padding-left: 9.7%;
				@include respond-to(sm) {width: 100%; padding-left: 0;}

				h2 {
					text-align: left; letter-spacing: 0;
					margin-bottom: 34px;
					@include respond-to(sm) {text-align: center;}

				}

				p {
					line-height: 24px; letter-spacing: 0.7px;
				}
			}
		}
		.navigation {
			margin-top: 25px !important;
		}
	}

	// – http://prntscr.com/goyhax
	&-kids {
		display: inline-block; vertical-align: top; margin: 0 40px; cursor: pointer;

		label {
			display: block; width: 180px;
			
			.ava {
				width: 180px; height: 180px;
				position: relative;
				
				figure {
					width: 180px; height: 180px; position: relative;
					border-radius: 50%; border: solid 2px transparent;
					overflow: hidden;
					
					img {width: calc(100% + 2px); position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
				}

				span {
					display: block; width: 28px; height: 28px; position: absolute; top: 7px; right: 18px;
					border: 2px solid #4489ff; background-color: #f8f8f8; border-radius: 50%;
					
					&:after {
						content: '';
						width: 10px; height: 7px; position: absolute; left: 50%; top: calc(50% - 2px); transform: translate(-50%,-50%) rotate(-45deg);
						border-left: 2px solid #4489ff; border-bottom: 2px solid #4489ff;
						opacity: 0;
					}
				}
			}

			p {
				color: #000000; font-family: $HelveticaL; font-size: 15px; font-weight: 300; text-align: center;
				padding: 0 15px; margin-top: 30px;
			}
		}
		
		input {display: none;}
		input:checked + label {
			.ava {
				figure {border-color: #4489ff;}
				span {&:after {opacity: 1;}
				}
			}
		}
	}
}

//////////////////////////////
//////////////////////////////
//////////////////////////////
.carousel {
	&-testimonials_1,
	&-testimonials_2 {
		.carousel-item {
			figure {opacity: 0; transition: all .8s;}
			section {
				//transform: translateX(150px);
				opacity: 0;
				transition: 0.5s ease-out;
			}

			&.active {
				figure {
					opacity: 1;
				}
				section {
					opacity: 1;
					// transform: translateX(0);  width: 100%;
				}
			}
			&.left {
				section {
					// opacity: 0;
					// transform: translateX(-150px); width: 70%;
					// @include respond-to(sm) {
					// 	transform: translateX(-75px);
					// }
					// @include respond-to(xs) {
					// 	transform: translateX(-30px);
					// }
				}
			}
			&.right {
				section {
					// opacity: 0;
					// transform: translateX(150px); width: 70%;
					// @include respond-to(sm) {
					// 	transform: translateX(75px);
					// }
					// @include respond-to(xs) {
					// 	transform: translateX(30px);
					// }
				}
			}
		}
	}

	&-kids {
		label {
			.ava {
				figure {transition: 0.3s ease-out;}
				span {&:after {transition: 0.3s ease-out;}}
			}
		}
	}

	.navigation, .owl-dots {

		li, .owl-dot {
			transition: all .2s ease; transform: translateY(0);

			&:hover {background: #4489ff; transform: translateY(-3px);}
			&:active {transform: translateY(0);}
			&.active {transform: translateY(0); &:hover {cursor: default;}}
		}
	}
}

.land {
	h1, h2, h3, h4, h5, h6 {letter-spacing: -0.2px;}
}

//MENU-GENERAL STYLE2 -- http://prntscr.com/gpl13a
.menu-general {
	&.style2 {
		&:after {display: none;}
		
		& > ul {
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			display: flex; flex-wrap: wrap; padding-top: 0;
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			& > li {
				width: 16.6%; margin-bottom: 34px;
				@include respond-to(md) {width: 100%; margin-bottom: 0;}

				a {
					.icon-buy-wrapp {height: 55px !important;}

					span {
						font-size: 16px;
						&.icon-buy-wrapp {
							margin: 0 auto 16px;
						}
					}
				}
			}
		}
	}
}


//ADS -- http://prntscr.com/gpksrt
.ads {
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		display: flex; justify-content: space-between;
		@include respond-to(md) {flex-direction: column;}

		&-item {display: flex; flex-direction: column; justify-content: space-between;}
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////// 
		
		&-item {
			text-align: center;
			width: 32%; padding: 23px 30px 41px;
			background: #fff; 
			@include respond-to(md) {width: 100%; margin: 10px 0;}

			&:hover {
				box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.08);
			}

			section {
				img, h4, p {margin-bottom: 20px; letter-spacing: 0;}
				p {
					@include font-type($CormacEL, 16px, 24px, 0); color: #4b5769;
					margin-bottom: 43px;
				}
				h4 {
					font-size: 22px; line-height: 32px;
					margin-bottom: 12px;
				}
			}

			a {
				font-family: $CormacEL; font-size: 16px; letter-spacing: 0;
			}
		}
}

//DOINGS -- http://prntscr.com/gpkdlh
.doings {


	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	&-wr {
		display: flex; justify-content: space-between; align-items: flex-start;
		@include respond-to(md) {flex-direction: column;}
	}

	&-item {@include respond-to(md) {display: flex;}}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////////////// 

	&-item {
		width: 32%;
		background: #fff; border: 1px solid #d9e4ea; cursor: pointer;
		@include respond-to(md) {width: 100%; margin: 10px 0;}
		@media (max-width: 580px){flex-direction: column;}

		&:hover {
			box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.08);
		}

		figure{
			width: 100%; 
			overflow: hidden;

			img {width: 100%;}
		}

		section {
			padding: 36px 20px 40px 27px;
			@include respond-to(md) {padding: 15px 20px;}

			h4 {
				font-size: 22px; line-height: 32px; letter-spacing: 0;
				margin-bottom: 25px;
			}
			p {
				@include font-type($HelveticaL, 16px, 24px, 0.7px); color: #4b5769;
				margin-bottom: 14px;
			}
			span {@include font-type($HelveticaL, 10px, 18px, 1.1px); text-transform: uppercase; color: #4b5769;}
		}
	}
}

//THANKS -- http://prntscr.com/gpjrvd
.thanks {
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	display: flex; justify-content: space-between;
	@include respond-to(md) {flex-direction: column;}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////

	&-item {
		width: 32%;
		@include respond-to(md) {width: 100%; margin: 20px 0;}

		section {
			@include font-type($HelveticaL, 16px, 24px, 0.5px); color: #4b5769;
			position: relative; min-height: 240px; padding: 30px 40px 17px; 
			background: #fff;
			&:after {
				content: '';
				width: 0; height: 0; position: absolute; bottom: -15px; left: 50%; margin-left: -15px;
				border-style: solid; border-width: 15px 15px 0 15px; border-color: #fff transparent transparent transparent;
			}

			p {letter-spacing: 0.6px;}
		}

		figure {
			text-align: center;
			margin-top: 40px;

			img {
				width: 88px; height: 88px;
				border-radius: 50%;
			}

			figcaption {
				@include font-type($CormacEL, 22px, 32px, 0px); color: #000;
				margin-top: 20px;

				span {
					color: #4b5769; font-size: 16px; line-height: 24px; letter-spacing: 0px;
					display: block; margin-top: 7px;
				}
			}
		}

	}
}

//ABOUT LANDING STYLE 2 -- http://prntscr.com/gpjay0
.about {
	&.style2 {
		text-align: center;
		padding-bottom: 100px;
		.btn-wrapp {
			margin-bottom: 105px;
			a {
				@include font-type($CormacEL, 22px, 26px, 0px); color: #fff; text-align: center;
				display: block; width: 50%; padding: 38px 0 41px; 
				background: $btn-color;
				@include respond-to(sm) {width: 100%;}

				span {
					position: relative; display: inline-block; padding-bottom: 5px;
					&:after {
						content: '';
						position: absolute;
						border-bottom: 2px solid #ffffff;
						top: 100%;
						transition: all 0.4s;
					}
					&:after {left: 50%; right: 50%;}
					&:hover:after {left: 0; right: 0;}
				}

				&.light {background: #5292ff;}

				i {margin-right: 10px; position: relative; top: -2px;}
			}
		}

		.social {
			display: flex; justify-content: center;
			li {
				display: table; padding: 0 10px; box-sizing: content-box; width: 60px;
				@include respond-to(xs) {margin: 0 10px; padding: 0;}

				a {
					text-align: center; vertical-align: middle;
					width: 60px; height: 60px; display: table-cell;
					background: $btn-color; border-radius: 50%;
					&:hover {opacity: 0.5;}

					i {color: #fff; font-size: 24px;}
				}
			}
		}
		.about-tell {
			padding: 30px 0 0; margin: 0;
			p {@include font-type($CormacEL, 22px, 26px, 0px);}
		}
	}
}



//PARTNERS-STYLE2 -- http://prntscr.com/gpgn4d
//PARTNERS-STYLE2
.partners-style2 {
	padding: 66px 0 53px;
	background: #f4f7fb; border-bottom: 1px solid #e7edf2;

	ul {
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		display: flex; align-items: center;  justify-content: space-between; flex-wrap: wrap;
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////

		li {
			img {filter: grayscale(100%);}
		}
	}
}	

//FOOTER - STYLE-2 -- http://prntscr.com/gpfs5o
//FOOTER
footer.footer {
	&.style2 {
		background: #f4f7fb;

		.footer-info {
			.sep {background: #fff;}

			img {filter: grayscale(100%);}
			p {color: #000;}
			a {
				color: #4b5769; letter-spacing: 0px;
				&:after {border-color: $link-color;}
				i {color: $link-color; font-weight: 600; margin-left: 11px;}
			}

		}

		.footer-contacts {
			padding-top: 29px; padding-bottom: 28px;
			@include respond-to(md){flex-direction: column;}
			@include respond-to(sm) {font-size: 16px;}

			&:after {background: #e7edf2;}
			a {font-family: $CormacEL;}
			& > ul {
				////////////////////////////////////////////////////////////////////////////////////////////////////////////
				////////////////////////////////////////////////////////////////////////////////////////////////////////////
				////////////////////////////////////////////////////////////////////////////////////////////////////////////
				display: flex; align-items: center;  justify-content: space-between;
				@include respond-to(xs) {flex-direction: column; align-items: flex-start;}
				////////////////////////////////////////////////////////////////////////////////////////////////////////////
				////////////////////////////////////////////////////////////////////////////////////////////////////////////
				////////////////////////////////////////////////////////////////////////////////////////////////////////////

				width: 50%;
				@include respond-to(md) {width: 100%;}

				&:first-child {
					padding-right: 9px;
					@include respond-to(md) {margin-right: 0; margin-bottom: 40px;}
					@include respond-to(xs) {margin-bottom: 10px;}
				}
				&:last-child {
					padding-left: 49px;
					@include respond-to(xs) {padding-left: 0;}
				}

				& > li {
					@include respond-to(xs) {
						margin-bottom: 15px;
						&:last-child {margin-bottom: 0;}
					}

					ul {
						&.soc {
							display: flex;
							li {
								margin-left: 30px;
								@include respond-to(xs) {&:first-child {margin-left: 0;}}
								a {
									&:after {display: none;}
									i {
										color: $link-color; font-size: 24px;
										transition: all 0.4s;
									}
									&:hover {i {color: #4b5769;}}
								}
							}
						}
						li {
							margin-bottom: 3px;
							&:last-child {
								margin-bottom: 0;
							}
							a {
								color: #4b5769; font-size: 14px; letter-spacing: 0.1px;
								position: relative; padding-bottom: 5px;
								&:after {
										content: '';
										position: absolute;
										border-bottom: 1px solid $link-color;
										top: 100%;
										transition: all 0.4s;
									}
									&:after {right: 100%; left: 0;}
									&:hover:after {right: 0;}
							}
						}

					}
				}
			}	
		}	
	}
}



	

.app {
	&.land {
		padding-top: 0;

		.header {
			transform: translateY(-100%);
			transition: transform 0.3s ease-out;
			
			&.active {
				transform: translateY(0%);
			}
		}

		.wr {
			.col-md-12 {
				& > section {
					padding: 80px 0;

					&.working {
						padding: 80px 0 86px;
					}

					&.help {
						padding: 72px 0 40px;
						h2 {
							letter-spacing: 0;
						}
					}

					&.ads {
						padding: 61px 0 69px;
					}

					&.doings {
						padding: 67px 0 86px;

						h2 {
							letter-spacing: 0;
							margin-bottom: 54px;
						}
					}

					&.carousel-testimonials {
						&_1 {
							padding: 98px 0 86px;
						}
						&_2 {
							padding: 84px 0 53px;
						}
					}

					&.thanks {
						padding: 80px 0 89px;
					}
				}
			}
			&.mobile_hide {@include respond-to(sm) {display: none;}}


		}

		h2 {
			font-size: 34px; text-align: center;
			margin-bottom: 63px;
		}

		.footer {width: 100%; left: 0; bottom: 0;}
	}
}


// HOW IT WORK http://prntscr.com/gi7muf
.working {
	
	&-wrapp {
		& > div {
			display: flex;
			@include respond-to(md) {justify-content: center;}
			@include respond-to(xs) {flex-direction: column;}

			h4 {letter-spacing: 0px; font-size: 22px; line-height: 32px;}

			&.placement {
				justify-content: flex-end;
				@include respond-to(md) {justify-content: center;}
				@include respond-to(xs) {flex-direction: column-reverse;}
				a {@include respond-to(xs) {display: inline-block; text-align: center;}}
			}

			&.payment {
				justify-content: center;
				@include respond-to(sm) {margin-left: 0;}
				@include respond-to(xs) {flex-direction: column-reverse;}
			}

			& > section {
				margin-top: 10px; padding-top: 4px;
				a {
					display: flex; align-items: center; letter-spacing: 0.2px;

				}
			}

			& > figure {
				margin-top: 12px;
			}
		}
	}

	&-wrapp {
		position: relative;

		& > div {
			width: 41.68%;
			@include respond-to(md) {width: 100%; margin: 50px 0;}
			@include respond-to(xs) {text-align: center;}

			& > section {
				a {
					margin-top: 12px; font-size: 16px; font-family: $CormacEL; letter-spacing: 0;
					i {position: relative; top: 3px; right: 1px; margin-left: 10px;}
				}
			}

			& > figure {
				margin: 12px 10px;
			}
		}

		.dotted-line {
			position: absolute; left: 49.2%; top: 24px; margin-left: -100px; display: block; width: 239px; height: 170px;
			background: url(../img/dotted-line.png) no-repeat;
			@include respond-to(lg) {
				width: 183px; left: 51.2%; top: 40px;
			}
			@include respond-to(md) {
				display: none;
			}
		}	
		
		.placement {
			float: left;
			@include respond-to(md) {float: none; clear: both;}
		}

		.purchase {
			float: right; width: 43.67%;
			@include respond-to(md) {float: none; clear: both; width: 100%;}
			a {@include respond-to(xs) {display: inline-block; text-align: center;}}

			figure {
				margin-right: 7px;
			}
		}

		.payment {
			align-items: center;

			clear: both; margin-left: 20.1%;
			padding-top: 30px;
			@include respond-to(md) {
				padding-top: 0; margin-left: 0;
			}

			a {
				float:right; margin-top: 17px; position: relative; left: 3px;
				i {
					margin-left: 17px;
				}
			}
			section {
				padding-top: 18px;
			}
			figure {
				margin-left: 15px;
			}
		}

		.placement, .payment {
			h4 {
				text-align: right;
				@include respond-to(xs) {text-align: center;}
			}
		}

	}

	////////////////////
	&-wrapp {
		& > div {
			& > section {
				a {
					i {transition: margin .2s, opacity .2s, transform .2s ease;}

					&:hover {
						color: #4489ff;
						i {transform: translateX(5px);}
						i.icon-video {transform: translateX(0); opacity: 0.6;}
					}
				}
			}
		}
	}
}

//ADVANCE LANDING - http://prntscr.com/gik1np
.advance {
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	display: flex; justify-content: space-around;
	@include respond-to(md) {flex-wrap: wrap;}

	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	color: #fff;
	padding: 80px 0;

	& > li {
		text-align: center;
		@include respond-to(md) {width: 50%; margin: 25px 0;}
		@include respond-to(xs) {width: 100%;}

		h5 {
			font-size: 64px; color: #fff;
			position: relative; display: inline-block;
			&:before {
				content: '';
				width: 11px; height: 16px; position: absolute; top: 45%; left: -15px; transform: translate(-50%, -50%);
				background: url('../img/arrow.png') 0 0 no-repeat;
			}
		 }
		 p {
		 	font-size: 16px;
		 	margin-top: 20px;
		 	letter-spacing: 0.5px; opacity: 0.8;
		 }
	}
}

.btn-wrapp {margin-top: 0 !important;}
	