// TABS – http://prntscr.com/ggiqj8
.tabs {

	&-book {
		ul {
			display: flex;
			@include respond-to(md) {flex-direction: column;}
		}
	}
	
	&-main {
		@include respond-to(sm) {
			width: calc(100% + 30px); padding: 0 15px 20px 15px; margin-left: -15px;
			background: #fff;
		}

		a.js-toggle-menu {
			@include font-type($CormacEL, 18px, 22px, -1px); color: #000;
			position: relative; width: 100%; padding-bottom: 20px; margin-bottom: 25px;
			border-bottom: 3px solid #eff3f5;
			
			// hide-show
			display: none; @include respond-to(md) {display: block;}

			i {
				color: #4489ff; position: absolute; right: 0; top: 7px;
				&.active {transform: rotate(180deg);}
			}
			
		}

		ul {
			transition: max-height 0.7s linear;
			display: flex; justify-content: space-between;

			@include respond-to(md) {
				flex-direction: column;
				border-bottom: none; @include slide_me();
			}

			li {
				@include respond-to(md) {margin-bottom: 10px; &:last-child {margin-bottom: 0; padding-bottom: 3px;}}

				a {
					@include font-type($CormacEL, 18px, 22px, -1px); color: #000;
					display: block; padding: 10px 0; margin-bottom: -3px;

					@include respond-to(md) {border-bottom: 3px solid #eff3f5; position: relative; z-index: 10;}

					&:hover {
						border-bottom: 3px solid #4489ff;
						@include respond-to(md) {border-bottom-color: $btn-color;}
					}

					span {color: #7690a4; margin-left: 5px;}
				}
				&.active {a {border-bottom: 3px solid #4489ff;}}
			}
		}
	}
	
	&-inner {
		/*display: inline-block; margin: 25px 0 35px 0;*/
		padding-left: 20px; 
		background: #e6f2f8; border-radius: 100px;

		///Временно
		display: block; width: 415px; margin: 0 auto 35px auto;
		

		@include respond-to(xs) {width: 100%; padding: 20px 25px 20px 70px;}

		li {
			color: #616060; font-family: $CormacEL;
			display: inline-block;


			@include respond-to(xs) {display: block; margin: 5px 0;}

			&:first-child {margin-right: 20px; @include respond-to(xs) {font-weight: 600; margin-bottom: 15px; padding-left: 20px;}}
			
			a {
				color: #616060;
				display: inline-block; padding: 3px 18px 6px; font-family: $CormacEL;
				border: 1px solid transparent; border-radius: 100px;
				transition: 0.3s ease-out;
				
				&:hover {
					/*color: $link-color; border-color: $link-color;*/
					color: #4b5769; background: #fff;
					box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
				}
			}
			&.active {
				a {
					/*color: $link-color; border-color: $link-color;*/
					color: #4b5769;
					box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
					background: #fff; cursor: default;
				}
			}
		}
	}

	//TABS-company - http://prntscr.com/gtkuci
	&-company {
		a.js-toggle-menu {
			@include font-type($CormacEL, 18px, 22px, -1px); color: #000;
			position: relative; width: 100%; padding-bottom: 20px; margin-bottom: 25px;
			border-bottom: 3px solid #eff3f5;
			
			// hide-show
			display: none; @include respond-to(md) {display: block;}

			i {
				color: #726e64; position: absolute; right: 0; top: 7px;
				&.active {transform: rotate(180deg);}
			}
			
		}

		ul {
			display: flex; justify-content: center;
			transition: max-height 0.7s linear;
			@include respond-to(md) {
				flex-direction: column;
				border-bottom: none; @include slide_me();
			}

			li {
				text-align: center;
				width: 183px;
				@include respond-to(md) {margin-bottom: 10px; width: 100%; &:last-child {margin-bottom: 0; padding-bottom: 3px;}}

				&.active {
					a {
						&:before, &:after {width: 50%;}
					}
				}
				a {
					@include font-type ($CormacEL, 16px, 22px, 0); color: #726e64;
					display: inline-block; padding-bottom: 20px; position: relative;
					@include respond-to(md) {width: 100%;}

					&:before, &:after {
						content: ''; 
						display: block; height: 3px; width: 0; position: absolute; bottom: 0; 
						background: #726e64;
						transition: width 0.3s ease-in-out;
					} 
					&:before {right: 50%;}
					&:after {left: 50%;}

					&:hover {
						&:before {width: 50%;}
						&:after {width: 50%;}

					}
				}
			}
		}
	}
}