<!DOCTYPE html>
<html>
	//= ./ui/head.html
	<body class="on-load">
		//= ./ui/counter.html

		<!-- Application -->
		<div class="app user">
			//= ./ui/header.html

			<section>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">

							<div class="user-notice">
								<div class="user-notice-top">
									<a href="#" class="close js-close_notice">
										<i class="icon icon-close"></i>
									</a>
								</div>
								<h3>У вас есть незавершенные сделки</h3>
								<ul>
									<li><a href="#" class="js-later">Позже</a></li>
									<li><a href="#" class="btn">Посмотреть</a></li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</section>

			//= ./ui/breadcrumbs.html
			
			<section class="wr bg_white shadow">
				<div class="container">
					<div class="row">
						<div class="col-md-12">

							<article class="user-me">
								<figure>
									<img src="../../assets/img/user-1.png">
								</figure>
								<section>
									<h1>Василий Раушенберг</h1>
									<ul>
										<li><span>18 325 ₽</span> Вы пожертвовали</li>
										<li><span>24</span> Людям помогли</li>
										<li><span>2</span> Фонда поддержали</li>
									</ul>
								</section>
							</article>
							
							<div class="tabs-main js-tab_direct">
								<a href="#" class="js-toggle-menu">Моё меню <i class="fa fa-angle-down"></i></a>
								<ul>
									<li class="active"><a href="#tab-I">Добрые дела<span> 3</span></a></li>
									<li><a href="#tab-II">Мои объявления<span> 4</span></a></li>
									<li><a href="#tab-III">Покупки<span> 3</span></a></li>
									<li><a href="#tab-IV">Закладки<span> 6</span></a></li>
									<li><a href="#tab-V">Отзывы<span> 3</span></a></li>
									<li><a href="#tab-VI">Настройки</a></li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</section>

			<section class="wr-light mobile_titles mb_30">
				<div class="container">
					<div class="row">
						<div class="col-md-12">

							<div class="js-tab_direct-wr">

								<!-- TAB I -->
								<div id="tab-I" class="tab tab--active p-tp30">

									<ul class="tabs-inner js-tab_user">
										<li>Направления</li>
										<li class="active"><a href="#tab-1">Фонды</a></li>
										<li><a href="#tab-2"> Проекты</a></li>
										<li><a href="#tab-3">Люди</a></li>
									</ul>

									<div class="js-tab_user-wr">
									
										<!-- tab 1 -->
										<div id="tab-1" class="tab tab--active">
											<ul class="user-founds">
												<li>
													<article> 
														<header>
															<figure>
																<img src="../../assets/img/founds/logo-leykimiya.png" alt="">

															</figure>
															<section>
																<hgroup>
																	<h3>Фонд борьбы с лейкемией</h3>
																</hgroup>
															</section>
														</header>
														<ul>
															<li>
																<h4>Магнитола SONY</h4>
																<dl>
																	<dt>+ 2 000 <span>₽</span></dt>
																	<dd><a href="#">Отчет</a></dd>
																</dl>
															</li>
															<li>
																<h4>Лампа настольная Pixar</h4>
																<dl>
																	<dt>+ 800 <span>₽</span></dt>
																	<dd><a href="#">Отчет</a></dd>
																</dl>
															</li>
															<li>
																<h4>Macbook Pro Late 2015 Retina display</h4>
																<dl>
																	<dt>+ 15 000 <span>₽</span></dt>
																	<dd><a href="#">Отчет</a></dd>
																</dl>
															</li>
														</ul>
														<footer>
															<h4>Всего: <strong>17 325 <span>₽</span></strong></h4>
														</footer>
													</article>		
												</li>

												<li>
													<article> 
														<header>
															<figure>
																<img src="../../assets/img/founds/logo-korablik.png" alt="">
															</figure>
															<section>
																<hgroup>
																	<h3>Кораблик</h3>
																	<h4>Детский благотворителный ФОНД</h4>
																</hgroup>
															</section>
														</header>
														<ul>
															<li>
																<h4>Магнитола SONY</h4>
																<dl>
																	<dt>+ 2 000 <span>₽</span></dt>
																	<dd><a href="#">Отчет</a></dd>
																</dl>
															</li>
															<li>
																<h4>Лампа настольная Pixar</h4>
																<dl>
																	<dt>+ 800 <span>₽</span></dt>
																	<dd><a href="#">Отчет</a></dd>
																</dl>
															</li>
														</ul>
														<footer>
															<h4>Всего: <strong>17 325 <span>₽</span></strong></h4>
														</footer>
													</article>		
												</li>

												<li>
													<article> 
														<header>
															<figure>
																<img src="../../assets/img/founds/logo-nika.png" alt="">
															</figure>
															<section>
																<hgroup>
																	<h3>Ника</h3>
																	<h4>Фонд помощи животным </h4>
																</hgroup>
															</section>
														</header>
														<ul>
															<li>
																<h4>Магнитола SONY</h4>
																<dl>
																	<dt>+ 2 000 <span>₽</span></dt>
																	<dd><a href="#">Отчет</a></dd>
																</dl>
															</li>
														</ul>
														<footer>
															<h4>Всего: <strong>17 325 <span>₽</span></strong></h4>
														</footer>
													</article>		
												</li>
												
												<li>
													<article> 
														<header>
															<figure>
																<img src="../../assets/img/founds/logo-nika.png" alt="">
															</figure>
															<section>
																<hgroup>
																	<h3>Ника</h3>
																	<h4>Фонд помощи животным</h4>
																</hgroup>
															</section>
														</header>
														<ul>
															<li>
																<h4>Магнитола SONY</h4>
																<dl>
																	<dt>+ 2 000 <span>₽</span></dt>
																	<dd><a href="#">Отчет</a></dd>
																</dl>
															</li>
														</ul>
														<footer>
															<h4>Всего: <strong>17 325 <span>₽</span></strong></h4>
														</footer>
													</article>		
												</li>

												<li>
													<article> 
														<header>
															<figure>
																<img src="../../assets/img/founds/logo-korablik.png" alt="">
															</figure>
															<section>
																<hgroup>
																	<h3>Кораблик</h3>
																	<h4>Детский благотворителный ФОНД</h4>
																</hgroup>
															</section>
														</header>
														<ul>
															<li>
																<h4>Магнитола SONY</h4>
																<dl>
																	<dt>+ 2 000 <span>₽</span></dt>
																	<dd><a href="#">Отчет</a></dd>
																</dl>
															</li>
															<li>
																<h4>Лампа настольная Pixar</h4>
																<dl>
																	<dt>+ 800 <span>₽</span></dt>
																	<dd><a href="#">Отчет</a></dd>
																</dl>
															</li>
															<li>
																<h4>Лампа настольная Pixar</h4>
																<dl>
																	<dt>+ 800 <span>₽</span></dt>
																	<dd><a href="#">Отчет</a></dd>
																</dl>
															</li>
														</ul>
														<footer>
															<h4>Всего: <strong>17 325 <span>₽</span></strong></h4>
														</footer>
													</article>		
												</li>
											</ul>
										</div>
										
										<!-- tab 2 -->
										<div id="tab-2" class="tab">
											<div class="empty">
												<i class="icon icon-empty"></i>
											</div>	
										</div>

										<!-- tab 3 -->
										<div id="tab-3" class="tab">
											<div class="empty">
												<i class="icon icon-empty"></i>
											</div>	
										</div>

									</div>
								</div>

								<!-- TAB II -->
								<div id="tab-II" class="tab p-tp30">
									<table class="user-ads">
										<tr>
											<th>Название</th>
											<th>Дата публикации</th>
											<th>Цена</th>
											<th>Статус</th>
										</tr>
										<tr class="goods-single">
											<td><a href="#">Лампа настольная Pixar</a></td>
											<td><span class="value">Дата</span> 23.05.2017</td>
											<td><span class="value">Цена</span> 2 300 <span class="rub">a</span></td>
											<td><span class="value">Статус</span> Активно</td>
										</tr>
										<tr class="goods-single">
											<td><a href="#">Лампа настольная Pixar</a></td>
											<td><span class="value">Дата</span> 23.05.2017</td>
											<td><span class="value">Цена</span> 2 300 <span class="rub">a</span></td>
											<td><span class="value">Статус</span> Активно</td>
										</tr>
										<tr class="goods-single">
											<td><a href="#">Лампа настольная Pixar</a></td>
											<td><span class="value">Дата</span> 23.05.2017</td>
											<td><span class="value">Цена</span> 2 300 <span class="rub">a</span></td>
											<td><span class="value">Статус</span> Активно</td>
										</tr>
										<tr class="goods-single">
											<td><a href="#">Лампа настольная Pixar</a></td>
											<td><span class="value">Дата</span> 23.05.2017</td>
											<td><span class="value">Цена</span> 2 300 <span class="rub">a</span></td>
											<td><span class="value">Статус</span> Активно</td>
										</tr>
									</table>
								</div>

								<!-- TAB III -->
								<div id="tab-III" class="tab p-tp30">

									<!--<h2>Покупки</h2>-->
									<table class="user-goods js-accordion">
										<tr>
											<th>Название</th>
											<th>Цена</th>
											<th>Статус</th>
										</tr>

										<tr class="goods-header">
											<td><a href="#">Лампа настольная Pixar</a></td>
											<td><span class="value">Цена</span> 2 300 <span class="rub">a</span></td>
											<td><span class="value">Статус</span> Активно</td>
										</tr>

										<tr class="goods-single open">
											<td>
												<a href="#">Лампа настольная Pixar</a>

												<div class="goods-info">
													<div class="customer">
														<p> Продавец: <a href="#">Мирабелла глинка</a></p>
														<span>Свяжитесь с покупателем что бы договориться о месте и времени покупки</span>
													</div>

													<div class="contacts">
														<a href="tel:+73453453476" class="phone">+7 (345) 345-34-76</a>
														<a href="mailto:vasya@raush.ru">vasya@raush.ru</a></li>
													</div>
													
													<div class="action">
														<a href="#">Пожаловаться</a>
														<a href="#">Отменить бронь</a> 
													</div>
													
												</div>

											</td>
											<td><span class="value">Цена</span> 2 300 <span class="rub">a</span></td>
											<td><span class="value">Статус</span> Активно</td>
										</tr>

										<tr class="goods-single open mark">
											<td>
												<a href="#">Лампа настольная Pixar</a>

												<div class="goods-info">
													<div class="customer">
														<p> <a href="#">Мирабелла глинка</a> забронировал этот товар</p>
														<span>Свяжитесь с покупателем что бы договориться о месте и времени покупки</span>
													</div>

													<div class="contacts">
														<a href="tel:+73453453476" class="phone">+7 (345) 345-34-76</a>
														<a href="mailto:vasya@raush.ru">vasya@raush.ru</a></li>
													</div>
													
													<div class="action">
														<a href="#">Пожаловаться</a>
														<div class="bottom">
															<a href="#">Отменить бронь</a>
															<a href="#" class="btn">Вещь передана покупателю</a>
														</div>
														
													</div>
													
												</div>

											</td>
											<td class="price"><span class="value">Цена</span> 2 300 <span class="rub">a</span></td>
											<td><span class="value">Статус</span> Активно</td>
										</tr>
									</table>
								</div>

								<!-- TAB IV -->
								<div id="tab-IV" class="tab p-tp30">
									<ul class="user-bookmarks">
										<li>
											<figure>
												<img src="../../assets/img/search-item-1.jpg" alt="">
											</figure>
											<ul class="item-info">
												<li>
													<h3><a href="#">Power bank</a></h3>
													<ul>
														<li><i class="icon icon-clock"></i>3 часа назад</li>
														<li><i class="icon icon-marker"></i>Москва / м. Кропоткинская</li>
													</ul>
												</li>
												<li>
													<p>2 300 <span class="rub">a</span></p>
													<span>В фонд “Дар” (Поддержка детей инвалидов)</span>
												</li>
											</ul>
											<a href="#"><i class="icon icon-heart-big"></i></a>
										</li>
										<li>
											<figure>
												<img src="../../assets/img/search-item-1.jpg" alt="">
											</figure>
											<ul class="item-info">
												<li>
													<h3><a href="#">Power bank</a></h3>
													<ul>
														<li><i class="icon icon-clock"></i>3 часа назад</li>
														<li><i class="icon icon-marker"></i>Москва / м. Кропоткинская</li>
													</ul>
												</li>
												<li>
													<p>2 300 <span class="rub">a</span></p>
													<span>В фонд “Дар” (Поддержка детей инвалидов)</span>
												</li>
											</ul>
											<a href="#"><i class="icon icon-heart-big"></i></a>
										</li>
										<li>
											<figure>
												<img src="../../assets/img/search-item-1.jpg" alt="">
											</figure>
											<ul class="item-info">
												<li>
													<h3><a href="#">Power bank</a></h3>
													<ul>
														<li><i class="icon icon-clock"></i>3 часа назад</li>
														<li><i class="icon icon-marker"></i>Москва / м. Кропоткинская</li>
													</ul>
												</li>
												<li>
													<p>2 300 <span class="rub">a</span></p>
													<span>В фонд “Дар” (Поддержка детей инвалидов)</span>
												</li>
											</ul>
											<a href="#"><i class="icon icon-heart-big"></i></a>
										</li>
										<li>
											<figure>
												<img src="../../assets/img/search-item-1.jpg" alt="">
											</figure>
											<ul class="item-info">
												<li>
													<h3><a href="#">Power bank</a></h3>
													<ul>
														<li><i class="icon icon-clock"></i>3 часа назад</li>
														<li><i class="icon icon-marker"></i>Москва / м. Кропоткинская</li>
													</ul>
												</li>
												<li>
													<p>2 300 <span class="rub">a</span></p>
													<span>В фонд “Дар” (Поддержка детей инвалидов)</span>
												</li>
											</ul>
											<a href="#"><i class="icon icon-heart-big"></i></a>
										</li>
									</ul>
								</div>

								<!-- TAB V -->
								<div id="tab-V" class="tab p-tp30">
									<ul class="users-rated">
										<li>
											<figure>
												<img src="../../../../assets/img/review-user.png">
											</figure>
											<h3><a href="#">Борис Бельведерский</a></h3>
											<p>Купил в <a href="#">Charity company</a> замечателный миксер. Перемолол все что было в холодильнике. Твердую пищу теперь вообще не ем. Думаю о покупке второго миксера.</p>
											<div class="rating rating-5">
												<p>Оценка <span>5/5</span></p>
												<ul>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
											</div>
										</li>
										<li>
											<figure>
												<img src="../../../../assets/img/review-user.png">
											</figure>
											<h3><a href="#">Борис Бельведерский</a></h3>
											<p>Купил у Василия замечателный миксер. Перемолол все что было в холодильнике. Твердую пищу теперь вообще не ем. Думаю о покупке второго миксера, Жене.</p>
											<div class="rating rating-5">
												<p>Оценка <span>5/5</span></p>
												<ul>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
											</div>
										</li>
										<li>
											<figure>
												<img src="../../../../assets/img/review-user.png">
											</figure>
											<h3><a href="#">Борис Бельведерский</a></h3>
											<p>Купил у Василия замечателный миксер. Перемолол все что было в холодильнике. Твердую пищу теперь вообще не ем. Думаю о покупке второго миксера, Жене.</p>
											<div class="rating rating-5">
												<p>Оценка <span>5/5</span></p>
												<ul>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
											</div>
										</li>
										<li>
											<figure>
												<img src="../../../../assets/img/review-user.png">
											</figure>
											<h3><a href="#">Борис Бельведерский</a></h3>
											<p>Купил у Василия замечателный миксер. Перемолол все что было в холодильнике. Твердую пищу теперь вообще не ем. Думаю о покупке второго миксера, Жене.</p>
											<div class="rating rating-5">
												<p>Оценка <span>5/5</span></p>
												<ul>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
											</div>
										</li>
									</ul>
								</div>

								<!-- TAB VI -->
								<div id="tab-VI" class="tab p-tp30">
								</div>
								
							</div>

						</div>
					</div>
				</div>
			</section>	

				
			//= ./ui/partners.html
			//= ./ui/footer.html
		</div>

		<!-- Scripts -->
		//= ./ui/scripts.html
	</body>
</html>