// SELECT – http://prntscr.com/gg1zdo
.select {
	
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////




	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	position: relative; margin-right: 30px; 

	&:last-child {margin-right: 0;}

	& > a {
		color: #000000; font-family: $HelveticaL; font-size: 14px; font-weight: 300;
		position: relative; padding-right: 25px;

		&.active {z-index: 101;}

		i {
			display: inline-block; padding: 3px; margin-left: 15px;  position: absolute; top: 2px; right: 0;
			border: solid #4489ff; border-width: 0 2px 2px 0;
			transform: rotate(45deg);  
		}
	}

	& > div {
		height: 0; min-height: 0; overflow: hidden; position: absolute; z-index: 100;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); background: #fff;

		&.active {
			padding-top: 45px; height: auto; 
			left: -10px; top: -11px;
			border-radius: 5px;
		}

		& > ul {
			min-width: 170px;

			& > li {
				border-bottom: 1px solid #d6dde4;

				& > a {
					color: #000;
					display: block; padding: 10px;
					background: #fff;

					&:hover {background: #f5f5f5;}
				}
			}
		}
	}


	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	& > a {}
	& > div {
		transition: max-height 0.7s linear;
		&.active {max-height: 1000px;}

		ul li a {transition: all 0.4s ease;}
	}
}