<!-- <div class="parallax">
  <div id="group1" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
  </div>
  <div id="group2" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
    <div class="parallax__layer parallax__layer--back">
      <div class="title">Background Layer</div>
    </div>
  </div>
  <div id="group3" class="parallax__group">
    <div class="parallax__layer parallax__layer--fore">
      <div class="title">Foreground Layer</div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
  </div>
  <div id="group4" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
    <div class="parallax__layer parallax__layer--back">
      <div class="title">Background Layer</div>
    </div>
    <div class="parallax__layer parallax__layer--deep">
      <div class="title">Deep Background Layer</div>
    </div>
  </div>
  <div id="group5" class="parallax__group">
    <div class="parallax__layer parallax__layer--fore">
      <div class="title">Foreground Layer</div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
  </div>
  <div id="group6" class="parallax__group">
    <div class="parallax__layer parallax__layer--back">
      <div class="title">Background Layer</div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
  </div>
  <div id="group7" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
  </div>
</div> -->


  <style>
    .slides, .slide-wrapper {background: transparent;}
    .slides.fixed .slide-wrapper {position: fixed; width: 100%;}
    .slides, .slide-wrapper {position: relative; }
    .slides {z-index: 2;}
    .footer {z-index: 1;}
    .slide1 {width: 100%; height: 100%;}
  </style>

<div class="slides">
  <div class="slide-wrapper slide-wr-1">
    <div class="slide-1 slide1" style="background:#4489ff url('../assets/img/banner12.jpg') right bottom no-repeat; background-size: auto 100%">

    </div>
  </div>

  <div class="slide-wrapper slide-wr-2">
    <div class="slide-2 slide1" style="background:#4489ff url('../assets/img/banner12.jpg') right bottom no-repeat; background-size: auto 100%">

    </div>
  </div>

  <div class="slide-wrapper slide-wr-3">
    <div class="slide-3 slide1" style="background:#4489ff url('../assets/img/banner22.jpg') right bottom no-repeat; background-size: auto 100%">

    </div>
  </div>

  <!-- <div class="slide-wrapper slide-wr-2">
    <div class="slide-2 slide1" style="background:#fff;">
    </div>
  </div> -->
</div>
<!-- <div class="rasporka" style="position: relative; background: transparent;"></div> -->





