.popup {
	width: 80%; display: none;
	@include respond-to(xs) {width: 70%;}
}

//http://prntscr.com/h0zgpy
.popup-main {
	position: fixed; z-index: 10000; width: 100%; height: 100%; padding-top: 10%;
	background: rgba(192,209,221,0.9);
	opacity: 0; 
	transition: .4s all ease;
	pointer-events: none;
	&.active {
		opacity: 1; transform: translate(0); pointer-events: auto;
		.popup-main_body {
			opacity: 1; transform: translate(0);
		}
	}
	&_body {
		transition: .6s all ease;
		opacity: 0; transform: translate(-150px, -150px);
		@extend .neo-bg;
		width: 50%; margin: 0 auto; padding: 50px 30px 30px 30px; position: relative;
		overflow-y: auto; 
		@include respond-to(md) {width: 90%;}
		.close {position: absolute; right: 20px; top: 20px;}
		p {
			@include font-type($HelveticaR, 16px, 24px, 0.5px); color: #000;
		}
	}
	&_top {
		width: 100%; text-align: center;
	}
}

// POPUP WINDOWS
.popup {
	// LOGIN POPUP – http://prntscr.com/gg2gi8
	// NOTICE POPUP – http://prntscr.com/gg2ew1

	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	&-login {
		& > ul {
			display: flex; justify-content: center;
			@include respond-to(sm) {flex-direction: column;}

			& > li {
				form {
					ul {display: flex; justify-content: flex-end;}
				}
			}
		}
	}


	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	// LOGIN POPUP – http://prntscr.com/gg2gi8
	&-login {
		padding: 70px 0; position: relative;
		background: #fff; box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.05);
		@include respond-to(sm) {width: 90%; margin: 0 auto; padding: 40px 0;}
		@include respond-to(xs) {width: 100%; min-width: 300px;}

		&-close {
			position: absolute; right: 25px; top: 25px;
		}

		h2 {
			@include font-type($CormacEL, 32px, 36px, -0.5px); color: $main-color-text; text-align: center;
			margin-bottom: 35px;
			@include respond-to(sm) {margin-bottom: 15px;}
		}

		& > ul {
			
			& > li {
				width: 50%;
				@include respond-to(sm) {text-align: center; width: 100%;}

				&:last-child {@include respond-to(sm) {margin-top: 20px;}}
				
				&.sep {
					width: 2px; margin: 0 50px;
					background: #eff1f2;
				}

				form {
					width: 60%; float: right;
					@include respond-to(lg) {width: 80%;}
					@include respond-to(sm) {display: inline-block; float: none;}

					@extend .input_style-2;

					& > a {
						@include font-type($HelveticaL, 12px, 1, 0); color: #9da8af;
						display: block; margin: -11px 0 0 20px;
					}

					ul {
						margin-top: 20px;
						li {line-height: 35px;}
					}
				}

				a {
					&.link {
						@include font-type($HelveticaL, 16px, 1, -0.5px); color: $link-color;
						margin-right: 25px;

						@include respond-to(xs) {font-size: 14px; margin-right: 20px;}
					}
					&.social {
						@include font-type($HelveticaL, 16px, 1, -0.5px); color: #000;
						display: flex; align-items: center; width: 67%; padding: 10px 20px; margin: 15px 0;
						border: 1px solid #d7deea; border-radius: 4px;
						@include respond-to(lg) {width: 80%;}
						@include respond-to(sm) {display: inline-block; margin: 5px 0;}

						i {
							color: #507db1; font-size: 25px;
							width: 25px; margin-right: 20px;
						}
					}
				}
			}
		}
	}

	// NOTICE POPUP – http://prntscr.com/gg2ew1
	&-notice {
		text-align: center;
		padding: 70px 0;
		background: #fff;

		@include respond-to(sm) {width: calc(100% + 30px); margin-left: -15px; padding-left: 15px; padding-right: 15px;}

		&-top {
			height: 80px; 
			position: relative; top: -72px;
			border-bottom: 1px solid #dae5eb;

			a.close {display: block; position: absolute; top: 26px; right: 30px;}
		}

		h3 {letter-spacing: 0; margin-bottom: 30px;}
		ul {
			display: flex; justify-content: center;
			@include respond-to(xs) {flex-direction: column-reverse;}

			li {
				font-family: $HelveticaL; line-height: 36px; letter-spacing: 0.5px;
				margin: 0 10px;
				@include respond-to(xs) {margin: 10px 0;}

				a {
					padding: 11px 23px 12px;
					border-radius: 100px;
				}
			}
		}
	}


	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	&-notice {
		ul li a {
			border: solid 1px transparent; transition: 0.2s ease-out;
			&:hover {border: solid 1px #4489ff;}
		}
	}
}

