// BREADCRUMBS – http://prntscr.com/gg229x
.breadcrumbs {
	@include font-type($HelveticaL, 12px, 1, 0.5px); color: #89a1b3;
	display: flex; justify-content: space-between; padding: 7px 0px 2px; position: relative;
	@include respond-to(sm) {
		padding: 7px 15px 2px;
	}
	&:after {
		content: '';
		display: block; width: 10000px; height: 1px; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%);
		background: #eff3f5;
	}

	@include respond-to(sm) {
		flex-direction: column; width: calc(100% + 30px); margin-left: -15px;
		background: #fff;
	}

	ul {
		li {
			display: inline-block;
			@include respond-to(sm) {&:first-child {margin-left: 0;}}
		}

		&.navigation {
			@include respond-to(sm) {margin-left: -10px;}

			li {
				line-height: 28px;
				position: relative; padding: 0 10px;

				&:after {content: '/'; position: absolute; right: -5px;}

				&:first-child {
					padding-left: 0;
					@include respond-to(sm) {padding-left: 10px;}
				}
				&:last-child {
					padding-right: 0; 
					&:after {display: none;}
				}
				
				a {
					color: #4b5769; font-size: 9px; font-family: $HelveticaL; line-height: 24px; text-transform: uppercase; letter-spacing: 1.3px;
					&:after {
						content: '';
						position: absolute;
						border-bottom: 1px solid $link-color;
						top: 100%;
						transition: all 0.4s;
					}
					&:after {right: 100%; left: 0;}
					&:hover:after {right: 0;}
				}
			}
		}

		&.share {
			padding-top: 2px;
			@include respond-to(sm) {margin-top: 10px;}

			li {
				color: #4b5769; font-size: 9px; font-family: $HelveticaL; line-height: 24px; text-transform: uppercase; letter-spacing: 1.3px;
				margin-left: 12px;
				&:first-child {margin-left: 0;}

				a {
					i {
						color: #c0d1dd; font-size: 17px;
						position: relative; top: 2px;
						&:hover {
							color: $link-color;
						}
					}
				}
			}
		}
		
	}
}