.land {
	h1, h2, h3, h4, h5, h6 {letter-spacing: -0.2px;}
}

//MENU-GENERAL STYLE2 -- http://prntscr.com/gpl13a
.menu-general {
	&.style2 {
		&:after {display: none;}
		
		& > ul {
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			display: flex; flex-wrap: wrap; padding-top: 0;
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			& > li {
				width: 16.6%; margin-bottom: 34px;
				@include respond-to(md) {width: 100%; margin-bottom: 0;}

				a {
					.icon-buy-wrapp {height: 55px !important;}

					span {
						font-size: 16px;
						&.icon-buy-wrapp {
							margin: 0 auto 16px;
						}
					}
				}
			}
		}
	}
}


//ADS -- http://prntscr.com/gpksrt
.ads {
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		display: flex; justify-content: space-between;
		@include respond-to(md) {flex-direction: column;}

		&-item {display: flex; flex-direction: column; justify-content: space-between;}
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////// 
		
		&-item {
			text-align: center;
			width: 32%; padding: 23px 30px 41px;
			background: #fff; 
			@include respond-to(md) {width: 100%; margin: 10px 0;}

			&:hover {
				box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.08);
			}

			section {
				img, h4, p {margin-bottom: 20px; letter-spacing: 0;}
				p {
					@include font-type($CormacEL, 16px, 24px, 0); color: #4b5769;
					margin-bottom: 43px;
				}
				h4 {
					font-size: 22px; line-height: 32px;
					margin-bottom: 12px;
				}
			}

			a {
				font-family: $CormacEL; font-size: 16px; letter-spacing: 0;
			}
		}
}

//DOINGS -- http://prntscr.com/gpkdlh
.doings {


	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	&-wr {
		display: flex; justify-content: space-between; align-items: flex-start;
		@include respond-to(md) {flex-direction: column;}
	}

	&-item {@include respond-to(md) {display: flex;}}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////////////// 

	&-item {
		width: 32%;
		background: #fff; border: 1px solid #d9e4ea; cursor: pointer;
		@include respond-to(md) {width: 100%; margin: 10px 0;}
		@media (max-width: 580px){flex-direction: column;}

		&:hover {
			box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.08);
		}

		figure{
			width: 100%; 
			overflow: hidden;

			img {width: 100%;}
		}

		section {
			padding: 36px 20px 40px 27px;
			@include respond-to(md) {padding: 15px 20px;}

			h4 {
				font-size: 22px; line-height: 32px; letter-spacing: 0;
				margin-bottom: 25px;
			}
			p {
				@include font-type($HelveticaL, 16px, 24px, 0.7px); color: #4b5769;
				margin-bottom: 14px;
			}
			span {@include font-type($HelveticaL, 10px, 18px, 1.1px); text-transform: uppercase; color: #4b5769;}
		}
	}
}

//THANKS -- http://prntscr.com/gpjrvd
.thanks {
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	display: flex; justify-content: space-between;
	@include respond-to(md) {flex-direction: column;}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////

	&-item {
		width: 32%;
		@include respond-to(md) {width: 100%; margin: 20px 0;}

		section {
			@include font-type($HelveticaL, 16px, 24px, 0.5px); color: #4b5769;
			position: relative; min-height: 240px; padding: 30px 40px 17px; 
			background: #fff;
			&:after {
				content: '';
				width: 0; height: 0; position: absolute; bottom: -15px; left: 50%; margin-left: -15px;
				border-style: solid; border-width: 15px 15px 0 15px; border-color: #fff transparent transparent transparent;
			}

			p {letter-spacing: 0.6px;}
		}

		figure {
			text-align: center;
			margin-top: 40px;

			img {
				width: 88px; height: 88px;
				border-radius: 50%;
			}

			figcaption {
				@include font-type($CormacEL, 22px, 32px, 0px); color: #000;
				margin-top: 20px;

				span {
					color: #4b5769; font-size: 16px; line-height: 24px; letter-spacing: 0px;
					display: block; margin-top: 7px;
				}
			}
		}

	}
}

//ABOUT LANDING STYLE 2 -- http://prntscr.com/gpjay0
.about {
	&.style2 {
		text-align: center;
		padding-bottom: 100px;
		.btn-wrapp {
			margin-bottom: 105px;
			a {
				@include font-type($CormacEL, 22px, 26px, 0px); color: #fff; text-align: center;
				display: block; width: 50%; padding: 38px 0 41px; 
				background: $btn-color;
				@include respond-to(sm) {width: 100%;}

				span {
					position: relative; display: inline-block; padding-bottom: 5px;
					&:after {
						content: '';
						position: absolute;
						border-bottom: 2px solid #ffffff;
						top: 100%;
						transition: all 0.4s;
					}
					&:after {left: 50%; right: 50%;}
					&:hover:after {left: 0; right: 0;}
				}

				&.light {background: #5292ff;}

				i {margin-right: 10px; position: relative; top: -2px;}
			}
		}

		.social {
			display: flex; justify-content: center;
			li {
				display: table; padding: 0 10px; box-sizing: content-box; width: 60px;
				@include respond-to(xs) {margin: 0 10px; padding: 0;}

				a {
					text-align: center; vertical-align: middle;
					width: 60px; height: 60px; display: table-cell;
					background: $btn-color; border-radius: 50%;
					&:hover {opacity: 0.5;}

					i {color: #fff; font-size: 24px;}
				}
			}
		}
		.about-tell {
			padding: 30px 0 0; margin: 0;
			p {@include font-type($CormacEL, 22px, 26px, 0px);}
		}
	}
}



//PARTNERS-STYLE2 -- http://prntscr.com/gpgn4d
//PARTNERS-STYLE2
.partners-style2 {
	padding: 66px 0 53px;
	background: #f4f7fb; border-bottom: 1px solid #e7edf2;

	ul {
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		display: flex; align-items: center;  justify-content: space-between; flex-wrap: wrap;
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////

		li {
			img {filter: grayscale(100%);}
		}
	}
}	

//FOOTER - STYLE-2 -- http://prntscr.com/gpfs5o
//FOOTER
/*footer.footer {
	&.style2 {
		background: #f4f7fb;

		.footer-info {
			.sep {background: #fff;}

			img {filter: grayscale(100%);}
			p {color: #000;}
			a {
				color: #4b5769; letter-spacing: 0px;
				&:after {border-color: $link-color;}
				i {color: $link-color; font-weight: 600; margin-left: 11px;}
			}

		}

		.footer-contacts {
			padding-top: 29px; padding-bottom: 28px;
			@include respond-to(md){flex-direction: column;}
			@include respond-to(sm) {font-size: 16px;}

			&:after {background: #e7edf2;}
			a {font-family: $CormacEL;}
			& > ul {
				////////////////////////////////////////////////////////////////////////////////////////////////////////////
				////////////////////////////////////////////////////////////////////////////////////////////////////////////
				////////////////////////////////////////////////////////////////////////////////////////////////////////////
				display: flex; align-items: center;  justify-content: space-between;
				@include respond-to(xs) {flex-direction: column; align-items: flex-start;}
				////////////////////////////////////////////////////////////////////////////////////////////////////////////
				////////////////////////////////////////////////////////////////////////////////////////////////////////////
				////////////////////////////////////////////////////////////////////////////////////////////////////////////

				width: 50%;
				@include respond-to(md) {width: 100%;}

				&:first-child {
					padding-right: 9px;
					@include respond-to(md) {margin-right: 0; margin-bottom: 40px;}
					@include respond-to(xs) {margin-bottom: 10px;}
				}
				&:last-child {
					padding-left: 49px;
					@include respond-to(xs) {padding-left: 0;}
				}

				& > li {
					@include respond-to(xs) {
						margin-bottom: 15px;
						&:last-child {margin-bottom: 0;}
					}

					ul {
						&.soc {
							display: flex;
							li {
								margin-left: 30px;
								@include respond-to(xs) {&:first-child {margin-left: 0;}}
								a {
									&:after {display: none;}
									i {
										color: $link-color; font-size: 24px;
										transition: all 0.4s;
									}
									&:hover {i {color: #4b5769;}}
								}
							}
						}
						li {
							margin-bottom: 3px;
							&:last-child {
								margin-bottom: 0;
							}
							a {
								color: #4b5769; font-size: 14px; letter-spacing: 0.1px;
								position: relative; padding-bottom: 5px;
								&:after {
										content: '';
										position: absolute;
										border-bottom: 1px solid $link-color;
										top: 100%;
										transition: all 0.4s;
									}
									&:after {right: 100%; left: 0;}
									&:hover:after {right: 0;}
							}
						}

					}
				}
			}	
		}	
	}
}*/

