.found {

	&-about {
		display: flex; @include respond-to(md) {flex-direction: column;}
		@extend .neo-bg; padding: 20px 40px 40px 40px;

		header {
			font-family: $HelveticaL;
			@include respond-to(md) {text-align: center;}

			h3 {
				color: #9b9b9b; font-size: 18px;
				margin-bottom: 40px;
			}

			hgroup {
				margin-bottom: 37px;

				h4 {@include font-type($HelveticaL, 24px, 30px, 0.2px);}
				h5 {@include font-type($HelveticaL, 24px, 30px, 0.2px);/*font-family: $HelveticaL; font-size: 18px;*/ margin-top: 16px;}
			}

			address {letter-spacing: 0.1px; line-height: 22px;}

			a.btn {
				font-size: 16px; letter-spacing: 0.2px;
				padding: 10px 30px; margin-top: 30px; max-width: 240px;
				white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			}
		}

		footer {
			padding: 50px 80px 0 80px;
			@include  respond-to(md) {padding: 50px 0 0 0; margin-top: 50px; border-top: 1px solid #d9e4ea;}

			p {
				font-size: 18px; line-height: 26px;
				margin-bottom: 25px;

				&:last-child {margin-bottom: 0;}
			}
		}
	}

	&-me {
		display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center;
		padding: 40px 0; 
		@include respond-to(md) {width: 100%;}
		@include respond-to(sm) {
			flex-direction: column; align-items: start;
			width: calc(100% + 30px); padding-left: 15px; margin-left: -15px;
			background: #fff;
		}

		figure {
			min-width: 119px; min-height: 119px; margin-right: 40px; overflow: hidden;
			border-radius: 50%;
			
			@include respond-to(sm) {width: 72px; height: 72px; margin-right: 20px; margin-bottom: 10px;}

			img {width: 100%; min-width: 130px;}
		}

		section {

			h1 {
				margin-bottom: 25px;
				@include respond-to(sm) {font-size: 28px; margin-bottom: 0;}
			}

			h5 {
				font-size: 18px; font-family: $HelveticaL;
				margin-bottom: 15px;
				span {font-family: $HelveticaR;}
			}

			ul {
				display: flex; 
				@include respond-to(sm) {flex-direction: column; overflow: hidden;}

				li {
					@include font-type($HelveticaL, 12px, 1, 1px); color: #89A1B3;
					margin-right: 25px;
					
					@include respond-to(sm) {margin: 25px 0 0 0;}

					& > span {
						color: #000; font-family: $CormacEL; font-size: 24px;
						@include respond-to(md) {display: block; margin-bottom: 10px;}
						&.rub {@include respond-to(md) {display: inline-block;}}
					}
				}
			}
		}
	}
}