<!DOCTYPE html>
<html>
	//= ./ui/head.html
	<body class="on-load">
		//= ./ui/counter.html

		<!-- Application -->
		<div class="app founds">
			//= ./ui/header.html
			//= ./ui/breadcrumbs.html

			<section class="wr bg_white">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							
							<!-- Navigation -->
							<nav class="founds-menu">
								<a href="#" class="js-open_menu-general">Все благотворительные направления <i class="fa fa-angle-down"></i></a>
								<ul>
									<li class="active">
										<a href="#">
											<span class="icon-buy-wrapp"><i class="icon icon-child"></i></span>
											<span>Дети</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon-buy-wrapp"><i class="icon icon-orphan"></i></span>
											<span>Сироты</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon-buy-wrapp"><i class="icon icon-adult"></i></span>
											<span>Взрослые</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon-buy-wrapp"><i class="icon icon-disabled"></i></span>
											<span>Инвалиды</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon-buy-wrapp"><i class="icon icon-animal"></i></span>
											<span>Животные</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon-buy-wrapp"><i class="icon icon-tape"></i></span>
											<span>Культура</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon-buy-wrapp"><i class="icon icon-religion"></i></span>
											<span>Религия</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon-buy-wrapp"><i class="icon icon-help"></i></span>
											<span>Разная помощь</span>
										</a>
									</li>
								</ul>
							</nav>	
							
						</div>
					</div>
				</div>
			</section>

			<section class="wr p-tb">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="founds-list">
								<li>
									<a href="#">
										<figure><img src="../../assets/img/found1.png" alt=""></figure>
										<section>
											<span class="direction">Здоровье</span>
											<span class="region">Москва</span>
										</section>
									</a>
								</li>

								<li>
									<a href="#">
										<figure><img src="../../assets/img/found2.png" alt=""></figure>
										<section>
											<span class="direction">Образование</span>
											<span class="region">Москва</span>
										</section>
									</a>
								</li>

								<li>
									<a href="#">
										<figure><img src="../../assets/img/found3.png" alt=""></figure>
										<section>
											<span class="direction">Спорт</span>
											<span class="region">Москва</span>
										</section>
									</a>
								</li>

								<li>
									<a href="#">
										<figure><img src="../../assets/img/found4.png" alt=""></figure>
										<section>
											<span class="direction">Образование</span>
											<span class="region">Москва</span>
										</section>
									</a>
								</li>

								<li>
									<a href="#">
										<figure><img src="../../assets/img/found1.png" alt=""></figure>
										<section>
											<span class="direction">Здоровье</span>
											<span class="region">Москва</span>
										</section>
									</a>
								</li>

								<li>
									<a href="#">
										<figure><img src="../../assets/img/found2.png" alt=""></figure>
										<section>
											<span class="direction">Образование</span>
											<span class="region">Москва</span>
										</section>
									</a>
								</li>

								<li>
									<a href="#">
										<figure><img src="../../assets/img/found3.png" alt=""></figure>
										<section>
											<span class="direction">Спорт</span>
											<span class="region">Москва</span>
										</section>
									</a>
								</li>

								<li>
									<a href="#">
										<figure><img src="../../assets/img/found4.png" alt=""></figure>
										<section>
											<span class="direction">Образование</span>
											<span class="region">Москва</span>
										</section>
									</a>
								</li>

								<li>
									<a href="#">
										<figure><img src="../../assets/img/found1.png" alt=""></figure>
										<section>
											<span class="direction">Здоровье</span>
											<span class="region">Москва</span>
										</section>
									</a>
								</li>

								<li>
									<a href="#">
										<figure><img src="../../assets/img/found2.png" alt=""></figure>
										<section>
											<span class="direction">Образование</span>
											<span class="region">Москва</span>
										</section>
									</a>
								</li>

								<li>
									<a href="#">
										<figure><img src="../../assets/img/found3.png" alt=""></figure>
										<section>
											<span class="direction">Спорт</span>
											<span class="region">Москва</span>
										</section>
									</a>
								</li>

								<li>
									<a href="#">
										<figure><img src="../../assets/img/found4.png" alt=""></figure>
										<section>
											<span class="direction">Образование</span>
											<span class="region">Москва</span>
										</section>
									</a>
								</li>


</ul>
						</div>
					</div>
				</div>
			</section>
			
			//= ./ui/footer.html
		</div>

		<!-- Scripts -->
		//= ./ui/scripts.html
	</body>
</html>