//стили для твиговских шаблонов
.user-info {
	display: flex;
	figure {margin-right: 30px;}
}


/*********************************/
/********** Typography ***********/
/*********************************/

h1, h2, h3, h4, h5, h6 {color: #000; font-family: $CormacEL; letter-spacing: 0;}
h1 {font-size: 34px; line-height: 38px;}
h4 {line-height: 24px;}
p {font-family: $HelveticaL;}
a {color: $link-color; outline: none;}
span.rub {font-family: $ruble !important;}

ol, ul {margin-bottom: 0;}
a { 
	text-decoration: none; 
	&:active, &:hover, &:visited, &:link {text-decoration: none !important;}
}

.page_title {margin-bottom: 30px;}
.page_content {
	padding-bottom: 30px;
	p {
		font-size: 16px; line-height: 26px; letter-spacing: 0.8px;
		margin-bottom: 15px;
	}
}

/*********************************/
/************ Forms **************/
/*********************************/

//для твиговских шаблонов кнопка на сайт - http://prntscr.com/h0v8x0
#buttons {padding-top: 30px;}
#shareButton {
	padding: 20px 0 50px 0;
	form {
		margin-bottom: 20px;
		& > div {
			display: inline-block;
			@include respond-to(lg) {display: block; margin-bottom: 15px;}
		}
	}
	 
	.selectstyle {
		position: relative; padding-right: 10px; margin-right: 25px;
		&:last-child {margin-right: 0;}
		&:after {
			content: '\203A'; 
			color: $link-color; font-size: 24px; text-align: center;
			width: 23px; height: 31px; position: absolute; right: 4px; top: -7px;
			background: #fff; 
			transform: rotate(90deg); pointer-events: none;
		}
		select {border: none; cursor: pointer; outline:none;}
	}
	.form {
		width: 50%; margin: 30px 0 0 0;
		input {
			margin-bottom: 20px;
		}
	}
}

// – http://prntscr.com/gg2bw7
.styled_checkbox-1 {

	& > label {

		color: #000000; @include font-type($HelveticaL, 18px, 1, 0.2px); font-weight: 300;
		padding-left: 54px; position: relative; margin-bottom: 35px;
		cursor: pointer;

		&:before {
			content: '';
			width: 40px; height: 23px; position: absolute; left: 0; top: -1px;
			background-color: #ff919f; border-radius: 100px;
			transition: 0.3s ease-out;
		}

		&:after {
			content: '';
			width: 15px; height: 15px; position: absolute; left: 4px; top: 3px;
			background-color: #ffffff; border-radius: 50%;
			opacity: 0.5;
			transition: 0.3s ease-out;
		}
	}

	& > input:checked + label {

		&:before {background-color: #4489ff;}
		&:after {left: 20px; opacity: 1;}
	}
}

// – http://prntscr.com/gg2bsz
.styled_checkbox-2 {

	& > label {
		color: #000000; font-family: $helv; font-size: 14px; font-weight: 300;
		padding-left: 31px; position: relative;
		cursor: pointer;

		&:after {
			content: '';
			color: #4489ff; font: normal normal normal 14px/1 FontAwesome;
			display: block; width: 19px; height: 19px; position: absolute; left: 0; top: 0; padding: 1px 0 0 2px;
			background-color: #ffffff; border-radius: 4px; border: 1px solid #979797;
		}
	}

	& > input {display: none;}
	& > input:checked + label {&:after {content: '\f00c';}}
}

// – http://prntscr.com/gg2bn0
.styled_checkbox-3 {

	label {
		color: #000000; font-family: $helv; font-size: 16px; font-weight: 300;
		position: relative; width: 100%; padding: 8px 30px 6px 39px;
		cursor: pointer;
		overflow: hidden;

		&:before {
			content: '';
			display: block; width: 18px; height: 18px; position: absolute; left: 9px; top: 50%; transform: translateY(-50%); z-index: 1;
			background-color: #ffffff; border: 1px solid #c0d1dd; border-radius: 50%;
		}

		&:after {
			content: '';
			width: 10px; height: 10px; position: absolute; left: 13px; top: 50%; transform: translateY(-50%); z-index: 2;
			background-color: #4489ff; border-radius: 50%;
			opacity: 0;
			transition: opacity 0.3s ease-out;
		}

		&:hover {
			background: #eaedf4; border-radius: 50px;
			span {opacity: 1;}
		}

		span {
			color: #4489ff; font-family: Menlo;font-size: 14px; font-weight: 700; line-height: 16px;
			position: absolute; right: 15px; top: 50%; transform: translateY(-50%);
			opacity: 0;
			cursor: pointer;
		}
	}

	input {display: none;}
	input:checked + label {&:after {opacity: 1;}}
}

// – http://prntscr.com/gg2c5l
.input_style-1 {

	label {
		color: #9da8af; font-family: $HelveticaL; font-size: 12px;
	}

	input {
		color: #000000; font-family: $HelveticaL; font-size: 18px; line-height: 22px;
		width: 100%; padding-bottom: 3px;
		background: transparent; border: none; border-bottom: 1px solid #c0d1dd;
	}

	textarea {
		color: #000000; font-family: $HelveticaL; font-size: 18px; font-weight: 300; line-height: 22px;
		background: transparent; border: none; border-bottom: 1px solid #c0d1dd;
	}
}

// – http://prntscr.com/gg2hl8
.input_style-2 {

	input {
		color:#000;
		display: block; width: 100%; padding: 10px 20px; margin: 15px 0;
		background: #eef5fa; border: none; border-radius: 100px;

		&[placeholder] {
			color:#000;
		}
	}
}


// STYLED SCROLL – http://prntscr.com/gg2cd5
.nice_scroll {

	&::-webkit-scrollbar {width: 6px;}
	&::-webkit-scrollbar-thumb {
		border-radius: 3px; background-color:#c7dcff;

		&:hover {background-color:#8fb8ff;}
		&:active {background-color:#4489ff;}
	}
}

// UPLOAD PHOTOS – http://prntscr.com/gg2k6j
.photos {

	////////////////////////////////////////////////
	////////////////////////////////////////////////
	////////////////////////////////////////////////
	.preview {
		.images {
			display: flex; align-items: flex-start; flex-wrap: wrap;
		}
	}


	////////////////////////////////////////////////
	////////////////////////////////////////////////
	////////////////////////////////////////////////
	text-align: center; font-family: $HelveticaL;
	width: 100%; margin: 50px 0; padding: 30px 0;
	border: 1px solid #649dff; border-radius: 4px;

	h4 {font-size: 18px; letter-spacing: -0.5px; margin-bottom: 10px;}

	p {
		font-family: inherit;

		a {
			color: #000; text-decoration: underline;
			&:hover {text-decoration: none;}
		}
	}

	.preview {
		padding: 0 20px;

		& > span {
			text-align: left; color: #a8b2b8; margin-bottom: 25px;
			display: none;
		} &.active { & > span {display: block;}}

		.images {
			margin-bottom: 40px;

			.image {
				display: block; width: 130px; margin: 5px; position: relative;
				border-radius: 5px;
				overflow: hidden;

				img {width: 100%;}

				a.close-img {
					display: block; position: absolute; right: 5px; top: 5px;
					background: #fff; width: 21px; height: 21px;
					border-radius: 50%;

					i {display: inline-block;}
				}
			}
		}
	}


	////////////////////////////////////////////////
	////////////////////////////////////////////////
	////////////////////////////////////////////////
	.previews {
		.images {
			.image {
				a.close-img {opacity: 0; transition: opacity 0.4s ease;}
				&:hover {a.close-img {opacity: 1;}}
			}
		}
	}
}



/*********************************/
/*********** Modules *************/
/*********************************/
.preloader {
	display: block; width: 100%; height: 100%;
	position: fixed; top: 0; left: 0; z-index: 99999;
	background: #3f86ff url('../img/preloader.gif') center center no-repeat;
}

// -----
.lity-close {top: 25px; right: 25px;}

// PROGRESS BAR – http://prntscr.com/gg1zlt
.progress_bar {
	position: relative; height: 3px; width: 100%; margin: 10px 0;
	background: #c0d1dd;

	&-fill {
		position: absolute; left:0; top:0; height: 3px;
		background: #4489ff;
	}
}

// RATING – http://prntscr.com/gg2034
.rating {
	p {color: #000; text-align: right; margin-bottom: 6px;}
	ul {
		li {
			display: inline-block; float: right; margin-left: 10px;
			&:last-child {margin-left: 0;}
			i {
				color: #c0d1dd; font-size: 20px; margin-left: 5px;
			}
		}
	}
}
@for $i1 from 0 through 5 {
	.rating.rating-#{$i1} ul  {

		@for $i2 from 0 through $i1 {
			& li:nth-child(#{$i2}) {
				i {
					color: #f5a623;
				}
			}
		}
	}
}

// TITLE – http://prntscr.com/gg35u0
.main-title {
	display: flex; justify-content: space-between;
	@include respond-to(xs) {flex-direction: column;}

	////////////////////////////////////////////////
	////////////////////////////////////////////////
	////////////////////////////////////////////////
	margin: 20px 0;

	h1 {@include font-type($CormacEL, 24px, 29px, -0.5px); color: #4a4a4a;}

	.select {
		text-align: right;
		min-width: 200px; position: relative;
		@include respond-to(xs) {text-align: left; margin: 40px 0 10px 0;}
	}
}

// empty zone – http://prntscr.com/ggluem
.empty {
	color: #89a1b3; text-align: center; font-size: 18px; line-height: 27px;
	padding: 70px 0;

	i {margin-bottom: 20px;}
}

.scroll-parallax {background: #4086ff;}


/*********************************/
/********* Application ***********/
/*********************************/
.app {
	min-width: 320px; overflow-x: hidden; padding-top: 65px;
	background: #F8FAFD;
	.land {overflow: hidden;}

	.wr {
		position: relative;

		.js-tab_direct-wr, 
		&.p-tb {background: #f4f7fb;}
		.js-selectToogle {font-size: 18px; i {top: 5px;}}
		.selects.filter {padding: 20px 0;}
		.main_menu_wrapp {box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.05); position: relative; z-index: 2; @include respond-to(sm) {box-shadow: none;}}
		.filter .select > div.active {width: 240px;}
		@media (min-width: 992px) {
			.main_menu.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
			    display: block !important;
			    .owl-prev {left: -20px;}
			    .owl-next {right: -20px;}
			}
		}
		@media (max-width: 991px) {
			.main_menu.owl-carousel {
				.owl-prev {left: -10px;}
				.owl-next {right: -10px;}
			}
		}
		.logo {margin-top: 0;}
		.galery_wrapp img:hover {cursor: pointer;}


		&-light {
			background: #f6f8fb;
		}

		&.mobile_titles {
			.tab > h2, .tab > p {
				display: none; @include respond-to(md) {display: block; margin: 15px 0 5px 0; padding-left: 10px;}
			}
		}

		&-new_post {
			padding-bottom: 100px;
			background: #e6f2f6;
		}

		&-login {
			display: none;
			position: fixed; left:0; top:0; width: 100%; height: 100%; padding-top: 63px; z-index: 10000;
			background: rgba(255, 255, 255, 0.7);

			&.active {
				display: block;
			}
		}

		&-notice {
			background: #ffffff;
		}

		&-book {padding-bottom: 38px;}


		/*********************************/
		/******** Class Helpers **********/
		/*********************************/
		&.mb_50 {margin-bottom: 50px;}
		&.mb_30 {margin-bottom: 30px;}
		&.pb_30 {padding-bottom: 30px;}
		&.ptb_80 {padding: 80px 0;}
		&.bg_white {background: #ffffff;}
		&.bg_blue {background: $btn-color;}
		&.border {border-bottom: 1px solid #d9e4ea;}
		&.border_grey {border-bottom: 1px solid #e8eaee;}
		&.shadow {
			border-bottom: 3px solid #eff3f5;
			@include respond-to(md) {border: none;}
		}
		&.bg-left {background: url(../img/left-bg.png) no-repeat left 0 #edf2f8;}
		&.bg-right {background: url(../img/right-bg.png) no-repeat right bottom #edf2f8;}
	}
}






/*********************************/
/********* DEV ***********/
/*********************************/
.donation-wr {
  padding-top: 30px; }

.donation-wr a{
  float: right;
}
.donation-wr .donation p{
        margin: 0;}

  .found-me figure {
    min-width: 119px;
    min-height: 119px;
    margin-right: 40px;
    overflow: hidden;
border: 1px solid #dae2ea;}

  .list-bookmarks > li figure {
    position: absolute;
    left: 0;
    width: 135px;
    height: 100%;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    background-size: cover; }

    .list-bookmarks > li figure img {
        width: 100%;
        height: 100%;
    }
