/***********************/
/******** Colors *******/
/***********************/
$main-color: #f6f8fb;
$main-color-text: #000;

$link-color: #4489ff;
$btn-color: #4489ff; 


/***********************/
/******** Fonts ********/
/***********************/

// helvetica
$helv: Helvetica, sans-serif;

// Cormac
$CormacEL:'Cormac-ExtraLight', sans-serif;
$CormacB:'cormac-book', sans-serif;


// Helvetica
$HelveticaT: 'HelveticaThin', sans-serif; //100
$HelveticaL: 'HelveticaLight', sans-serif; //300
$HelveticaR: 'HelveticaRegular', sans-serif; //400
$HelveticaM: 'HelveticaMedium', sans-serif; //500
$HelveticaBld: 'HelveticaBold', sans-serif; //600
$HelveticaH: 'HelveticaHeavy', sans-serif; //700
$HelveticaB: 'HelveticaBlack', sans-serif; //900

// Ruble
$ruble: 'rouble';

//Helvetica Neue
$HelveticaNeue: 'HelveticaNeueThin', sans-serif;
$HelveticaNM: 'helveticaneuemedium', sans-serif;
$HelveticaNL: 'helveticaneuecyrlight', sans-serif;


